---
import fetchApi from "../../lib/strapi";
import type Page from "../../interfaces/page";
import Layout from "../../layouts/Layout.astro";
import Container from "../../layouts/Container.astro";
import blogImg from "../../assets/blogImg.png";
import { Image } from "astro:assets";
import Pagination from "../../components/Pagination.astro";
import DecoratedText from "../../components/DecoratedText";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ButtonLink from "../../components/ButtonLink.astro";
import { toAttributeString } from "astro/runtime/server/render/util.js";

const query = `blog-single?populate=deep`;
const pagesData = await fetchApi<Page>({
  endpoint: query,
  wrappedByKey: "data",
});

const content = pagesData.attributes;

export async function getStaticPaths({ paginate }) {
  const query = `blogs?populate=deep`;
  const pagesData = await fetchApi<Page[]>({
    endpoint: query,
    wrappedByKey: "data",
  });

  pagesData.sort(
    (a, b) =>
      Date.parse(b.attributes.publishedAt) -
      Date.parse(a.attributes.publishedAt)
  );
  return paginate(pagesData, { pageSize: 9 }); // Adjust pageSize as needed
}

const { page }: { page: any } = Astro.props;
---

<Layout
  metaImage={content.SEO.metaImage.data
    ? content.SEO.metaImage.data.attributes.url
    : "/OG.png"}
  title={content.Hero.title}
  metaTitle={content.SEO.metaTitle}
  metaDescription={content.SEO.metaDescription}
>
  <section class="py-24 bg-section-bg object-cover bg-no-repeat">
    <Container
      classes="flex flex-col justify-between lg:flex-row lg:items-center gap-24 lg:gap-16"
    >
      <div class="lg:w-[800px]">
        <h1>
          <DecoratedText content={content.Hero.title} />
        </h1>
        {
          content.Hero.description && (
            <div class=" mt-5">
              <BlocksRenderer content={content.Hero.description} />
            </div>
          )
        }
        {
          content.Hero.button && (
            <div class="mt-8">
              <ButtonLink
                button={content.Hero.button}
                target={content.Hero.button.target}
                variant={content.Hero.button.type}
              />
            </div>
          )
        }
      </div>
      <div class="relative rounded-lg lg:max-w-[376px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="150"
          height="150"
          viewBox="0 0 150 150"
          fill="none"
          class="absolute left-4 -top-[75px]"
        >
          <circle cx="75" cy="75" r="75" fill="white"></circle>
          <circle cx="75" cy="75" r="63" fill="#00A5E4"></circle>
          <path
            d="M73.433 76.2151C77.2927 77.7165 79.1438 73.7608 79.1438 73.7608C71.0198 62.9632 74.4956 42.2249 74.7904 40.6207C75.1264 38.9068 75.3732 36 75.3732 36C74.692 36.3343 74.093 36.8149 73.619 37.4075C73.1449 38 72.8076 38.6899 72.6309 39.4278C71.8974 42.3552 70.9719 48.0385 71.7671 56.3681C71.7671 56.3681 70.3411 46.7222 71.3352 38.612C70.311 39.5046 69.4939 40.6099 68.941 41.8508C68.388 43.0917 68.1125 44.4383 68.1336 45.7967C68.1336 49.6907 68.5381 55.134 70.3823 58.9732C70.3823 58.9732 67.2835 53.8452 66.8448 43.7194C65.6105 45.618 65.1221 47.9061 65.4736 50.1431C65.9947 53.6395 67.0641 58.651 69.2168 62.4833C69.2168 62.4833 65.3091 55.9704 63.842 49.3753V49.4096C62.8655 51.7287 62.7825 54.3273 63.6089 56.704C64.3402 58.9433 65.222 61.1307 66.2483 63.2511C64.3824 60.9766 62.8199 58.4693 61.6002 55.7922C61.029 57.8823 61.226 60.1079 62.1555 62.0651C63.3739 64.7587 65.0641 67.2128 67.1464 69.3115C64.5717 67.1239 62.1887 64.7202 60.0234 62.1268C59.8497 63.1198 59.9132 64.1399 60.2086 65.1037C60.5041 66.0675 61.0232 66.9479 61.7236 67.673C64.9792 71.1255 68.8264 73.9674 73.0834 76.0643L73.433 76.2151Z"
            fill="white"></path>
          <path
            d="M92.7573 73.4977C90.8446 70.4333 87.5607 68.6577 83.4954 71.1325C79.43 73.6074 78.4633 80.0448 72.403 77.2409C66.3426 74.437 57.0601 68.2189 50.273 53.9044C44.3635 41.4271 46.0979 39.199 44.2606 38.918C44.007 38.918 43.6642 39.1168 43.2597 39.6035C42.2016 40.8808 41.6718 42.5142 41.7789 44.1694C41.9777 47.8714 43.7259 55.6251 52.9673 66.7929C52.9673 66.7929 46.4956 64.1124 39.5371 48.0497L39.4206 47.7891C39.3314 48.0702 39.2492 48.3582 39.1601 48.6461C38.8414 49.6961 38.8922 50.8237 39.304 51.8408C40.8534 55.6731 45.4741 65.6343 53.4197 72.0923C53.4197 72.0923 47.3799 71.2765 37.7752 54.4391C37.7341 54.6722 37.693 54.9121 37.6587 55.1247C37.4205 56.5639 37.6869 58.0412 38.4128 59.3066C40.9219 63.7422 46.3242 71.9209 54.071 76.4456C54.071 76.4456 47.7159 76.1234 37.0005 61.7472V62.3779C36.9817 63.9064 37.4632 65.3991 38.3717 66.6284C41.2236 70.5498 47.1469 77.5014 54.8252 79.9969C54.8252 79.9969 50.4993 81.9644 37.4393 69.069C37.4393 69.3364 37.5147 69.5969 37.5558 69.8574C38.0426 73.1892 41.0728 76.809 50.8626 81.6696C50.8626 81.6696 46.1117 81.3131 39.3314 76.6445C39.9771 78.3367 41.1882 79.7537 42.7593 80.655C47.949 83.7263 51.7058 85.0974 58.5135 86.0435C58.5135 86.0435 52.9536 87.1267 42.5604 83.0613C43.5032 84.4486 44.8406 85.5209 46.3996 86.1395C51.651 88.1962 54.4207 88.8817 62.0715 88.251C62.0715 88.251 57.1766 90.3077 47.4211 88.5938L47.5788 88.7309C48.9777 89.9584 50.7199 90.7266 52.5697 90.9316C55.5313 91.2606 59.7612 91.528 62.4486 90.8082C62.4486 90.8082 58.726 92.241 52.1652 92.0696C52.6979 92.6358 53.3526 93.0733 54.0795 93.3488C54.8065 93.6244 55.5866 93.7309 56.3608 93.6601C58.4946 93.6056 60.6192 93.3601 62.7091 92.9266C60.529 94.2977 55.7644 94.5651 55.7644 94.5651L56.4088 96.0459C55.7575 96.2241 55.0788 96.3886 54.3521 96.5395C48.2163 97.8352 42.9786 100.715 40.7163 103.135C40.9535 103.437 41.2792 103.658 41.648 103.766C42.0167 103.874 42.41 103.864 42.773 103.738L51.5139 100.756C51.5139 100.756 46.0774 103.649 43.486 106.391C43.9294 106.877 44.5328 107.187 45.186 107.265C45.8391 107.343 46.4986 107.184 47.044 106.816L52.3777 103.183L46.9892 110.038C47.2052 110.244 47.4601 110.405 47.7389 110.512C48.0177 110.619 48.315 110.67 48.6134 110.661C48.9119 110.652 49.2056 110.584 49.4776 110.46C49.7495 110.337 49.9943 110.161 50.1976 109.942L55.0994 104.643L51.0546 113.068C51.5831 113.295 52.176 113.321 52.7224 113.141C53.2687 112.962 53.7311 112.59 54.023 112.095L57.0875 106.994L55.3599 114.152C55.9949 114.221 56.6341 114.066 57.1673 113.715C57.7004 113.363 58.0941 112.836 58.2804 112.225L59.7818 107.296L60.2685 114.22C60.6953 114.188 61.0929 113.992 61.377 113.672C61.6612 113.352 61.8095 112.934 61.7905 112.506C61.6876 109.654 61.9961 103.765 66.1575 102.428C71.7037 100.653 78.4359 102.915 86.4021 96.2584C94.3684 89.6016 92.1677 82.6363 92.7025 81.176C93.105 80.2656 93.7452 79.4803 94.5558 78.9025C95.3663 78.3247 96.3175 77.9757 97.3094 77.8922C97.3094 77.8922 93.9708 75.4447 92.7573 73.4977Z"
            fill="white"></path>
          <path
            d="M107.76 61.3639C107.768 61.2226 107.791 61.0825 107.828 60.9457C107.828 60.8498 107.897 60.7675 108.013 60.7812C108.394 60.8124 108.777 60.75 109.128 60.5995C109.48 60.4489 109.789 60.2148 110.029 59.9174C110.287 59.654 110.516 59.3645 110.714 59.0536C110.872 58.8685 110.954 58.6354 111.091 58.4434C111.645 57.308 111.902 56.0509 111.839 54.7894C111.854 54.7052 111.841 54.6183 111.801 54.5426C111.761 54.4668 111.697 54.4065 111.619 54.3712C111.545 54.3451 111.463 54.3451 111.388 54.3713C111.314 54.3974 111.25 54.4481 111.208 54.5152C110.945 54.7985 110.653 55.0536 110.337 55.2761C109.336 55.9645 108.558 56.9292 108.096 58.0527C108.096 58.0527 108.048 58.1075 108 58.1692C107.894 57.7925 107.823 57.407 107.787 57.0175C107.787 56.8392 107.787 56.6541 107.732 56.4759C107.646 56.2159 107.632 55.9377 107.689 55.6701C107.747 55.4025 107.876 55.1552 108.061 54.9539C108.63 54.3506 108.534 53.4731 108.342 52.6847C108.139 51.8912 107.772 51.1488 107.266 50.5046C106.527 49.5496 105.856 48.544 105.257 47.495C105.189 47.3785 105.134 47.1934 104.956 47.2482C104.777 47.303 104.867 47.4882 104.887 47.6184C104.948 47.9778 104.902 48.347 104.757 48.681C104.469 49.3666 104.277 50.1344 104.071 50.8611C103.509 52.5682 105.031 55.0636 106.814 55.331C106.877 55.3298 106.94 55.342 106.999 55.3668C107.057 55.3916 107.11 55.4286 107.153 55.4751C107.197 55.5217 107.23 55.5769 107.25 55.6371C107.271 55.6973 107.279 55.7612 107.273 55.8246C107.328 56.5993 107.417 57.374 107.492 58.1486C107.492 58.3132 107.492 58.4777 107.492 58.6217C107.478 58.6304 107.463 58.6363 107.447 58.6389C107.43 58.6416 107.414 58.6409 107.398 58.6371C107.382 58.6333 107.367 58.6263 107.354 58.6166C107.34 58.6069 107.329 58.5946 107.321 58.5805C106.597 57.6759 105.688 56.9372 104.654 56.4142C104.129 56.1793 103.661 55.8331 103.283 55.3995C103.187 55.2624 103.029 55.139 102.851 55.2624C102.673 55.3858 102.755 55.5504 102.851 55.708C103.137 56.4377 103.387 57.1814 103.598 57.9361C104.01 59.06 104.701 60.0605 105.607 60.8429C105.97 61.164 106.401 61.3984 106.868 61.5285C107.053 61.5696 107.191 61.6244 107.143 61.8575C106.809 63.7122 106.174 65.4999 105.264 67.1501C105.202 67.2529 105.154 67.4312 105.004 67.3832C104.853 67.3352 104.901 67.1912 104.88 67.0747C104.832 66.7732 104.822 66.4667 104.853 66.1629C104.915 65.4106 104.825 64.6536 104.59 63.9365C104.354 63.2194 103.978 62.5568 103.482 61.9878C103.284 61.6994 103.054 61.4349 102.796 61.1994C102.659 61.0897 102.508 60.98 102.337 61.076C102.268 61.1266 102.22 61.1997 102.2 61.2824C102.18 61.365 102.19 61.4521 102.227 61.5285C102.371 62.0185 102.371 62.5398 102.227 63.0298C102.077 63.7824 102.089 64.5582 102.261 65.3059C102.47 66.088 102.927 66.781 103.564 67.2803C103.815 67.5177 104.044 67.7769 104.25 68.055C104.284 68.0846 104.312 68.1214 104.331 68.1628C104.35 68.2043 104.36 68.2493 104.36 68.295C104.36 68.3406 104.35 68.3857 104.331 68.4271C104.312 68.4685 104.284 68.5053 104.25 68.5349C104.051 68.72 103.859 68.912 103.667 69.1039C103.585 69.1862 103.461 69.2342 103.413 69.3507C103.194 69.5701 102.961 69.7758 102.728 69.9883C102.666 70.05 102.611 70.1528 102.501 70.1117C102.392 70.0706 102.412 69.9472 102.405 69.8443C102.405 69.3919 102.405 68.9463 102.316 68.4732C102.18 67.4992 101.741 66.5927 101.062 65.8818C100.135 65.0955 99.0115 64.5765 97.8121 64.3804C97.6955 64.3804 97.4693 64.2364 97.5379 64.5587C97.7408 65.864 98.034 67.1536 98.4154 68.4184C98.5656 68.9587 98.8352 69.4585 99.2042 69.8809C99.5732 70.3033 100.032 70.6375 100.547 70.859H100.616C101.343 71.2292 101.343 71.2703 100.781 71.8599C100.083 72.48 99.4277 73.1465 98.8199 73.8549C98.669 74.0537 98.5593 74.0468 98.4976 73.7863C98.3371 73.2337 98.1067 72.7038 97.8121 72.2095C97.4634 71.5353 96.9994 70.9274 96.441 70.4134C95.7825 69.8825 95.237 69.2251 94.8367 68.4801C94.8176 68.417 94.7748 68.3639 94.7172 68.3319C94.6596 68.2999 94.5918 68.2916 94.5282 68.3087C94.3706 68.3498 94.35 68.4938 94.3774 68.624C94.4836 69.3939 94.5249 70.1713 94.5008 70.9481C94.5395 71.8266 94.7715 72.6858 95.1804 73.4643C95.5892 74.2429 96.1648 74.9216 96.866 75.4522C97.5516 76.0007 97.5516 75.9938 97.1882 76.8234C96.7883 78.0417 96.5037 79.2949 96.3381 80.5665C96.1251 82.3113 96.2912 84.0815 96.8249 85.7562C96.9414 86.1607 97.2088 86.3595 97.5104 86.291C97.8121 86.2224 98.004 85.9139 97.9149 85.482C97.8258 85.0501 97.7298 84.7279 97.6201 84.3577C96.9063 81.7554 97.1071 78.9869 98.1891 76.5149C98.2714 76.316 98.3948 76.2749 98.6005 76.2406C99.4806 76.1982 100.361 76.3167 101.199 76.5903C102.423 76.8839 103.676 77.0448 104.935 77.0702C105.626 77.0326 106.288 76.7783 106.827 76.3435C107.576 75.7243 108.265 75.0357 108.884 74.2868C108.932 74.2425 108.964 74.183 108.974 74.1182C108.984 74.0534 108.972 73.9871 108.939 73.9303C108.906 73.8646 108.849 73.8142 108.78 73.7899C108.711 73.7655 108.635 73.7692 108.569 73.8C107.485 74.2319 106.388 73.9234 105.298 73.848C103.999 73.6683 102.679 73.7194 101.398 73.9988C100.813 74.1619 100.25 74.392 99.7179 74.6844L98.9775 75.082C99.1224 74.6744 99.3566 74.3042 99.6631 73.9988C100.479 73.1693 101.315 72.3466 102.159 71.5445C102.313 71.4328 102.491 71.3575 102.678 71.3243C102.866 71.291 103.058 71.3007 103.242 71.3526C103.927 71.4417 104.537 71.572 105.189 71.6816C105.532 71.6816 105.874 71.7639 106.203 71.7845C107.087 71.8309 107.97 71.6837 108.79 71.3533C109.611 71.023 110.349 70.5173 110.954 69.8718C111.136 69.6579 111.299 69.4285 111.441 69.1862C111.598 69.0158 111.765 68.8556 111.942 68.7063C111.996 68.4869 111.873 68.3909 111.688 68.3635L110.001 68.151C109.3 68.0653 108.591 68.0653 107.89 68.151C107.063 68.2726 106.256 68.5032 105.49 68.8366C105.257 68.9463 105.017 69.0422 104.805 69.1656C104.729 69.2068 104.633 69.289 104.558 69.1656C104.483 69.0422 104.606 69.0217 104.661 68.96C104.719 68.8927 104.781 68.8286 104.846 68.768C105.59 67.9415 106.162 66.9741 106.526 65.9229C106.574 65.7584 106.635 65.6076 106.69 65.4499C106.772 65.066 107.012 65.2236 107.225 65.2854C107.916 65.4185 108.628 65.3846 109.303 65.1867C109.978 64.9887 110.596 64.6324 111.105 64.1473C111.836 63.3775 112.446 62.5015 112.915 61.549C113.052 61.3297 113.176 61.1034 113.299 60.8635C113.34 60.8132 113.363 60.7502 113.363 60.6852C113.363 60.6202 113.34 60.5572 113.299 60.507C113.252 60.4691 113.194 60.4484 113.134 60.4484C113.074 60.4484 113.016 60.4691 112.97 60.507C112.516 60.7315 112.03 60.8863 111.53 60.9663C110.098 61.2436 108.779 61.9376 107.739 62.9613C107.718 63.0013 107.685 63.0335 107.644 63.0532C107.603 63.0729 107.557 63.0791 107.513 63.071L107.718 61.9809C107.746 61.7764 107.76 61.5703 107.76 61.3639Z"
            fill="white"></path>
        </svg>
        <Image src={content.Hero.image.data.attributes.url} inferSize alt="" />
      </div>
    </Container>
  </section>
  <section class="py-24 bg-gray bg-section-bg bg-cover bg-no-repeat">
    <Container>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12"
      >
        {
          page.data.map((item) => {
            const link = `/blog/${item.attributes.slug}`;
            return (
              <a
                class="rounded-lg overflow-hidden group bg-white shadow-lg"
                href={link}
              >
                <Image
                  src={item.attributes.featuredImage.data.attributes.url}
                  inferSize
                  class="w-full h-[268px] object-cover"
                  alt={item.attributes.title}
                />
                <div class="px-5 py-7">
                  <p class="font-display text-display-sm font-bold mb-3 line-clamp-3 ">
                    {item.attributes.title}
                  </p>

                  {item.attributes.shortDescription && (
                    <div class=" line-clamp-3">
                      <BlocksRenderer
                        content={item.attributes.shortDescription}
                      />
                    </div>
                  )}

                  <div class="rounded-lg min-w-[200px] mt-5 justify-start font-semibold text-body-md underline group-hover:no-underline decoration-brand-yellow decoration-2 underline-offset-8 text-dark1 flex items-center gap-2 pl-0">
                    Read More
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6 group-hover:-rotate-45 transition-all duration-200"
                    >
                      <circle cx="12" cy="12" r="12" fill="#FDC72F" />
                      <path
                        d="M12.4493 16.769C12.3822 16.696 12.329 16.6093 12.2926 16.5138C12.2563 16.4183 12.2376 16.316 12.2376 16.2126C12.2376 16.1092 12.2563 16.0068 12.2926 15.9114C12.329 15.8159 12.3822 15.7292 12.4493 15.6562L15.5381 12.2859L6.71986 12.2859C6.52894 12.2859 6.34584 12.2031 6.21084 12.0558C6.07584 11.9085 6 11.7087 6 11.5004C6 11.292 6.07584 11.0923 6.21084 10.945C6.34584 10.7976 6.52894 10.7149 6.71986 10.7149L15.5381 10.7149L12.4493 7.34322C12.3141 7.19566 12.2381 6.99552 12.2381 6.78684C12.2381 6.57816 12.3141 6.37802 12.4493 6.23046C12.5846 6.0829 12.768 6 12.9592 6C13.1505 6 13.3339 6.0829 13.4691 6.23046L17.7883 10.9433C17.8554 11.0163 17.9086 11.103 17.945 11.1985C17.9813 11.294 18 11.3963 18 11.4997C18 11.6031 17.9813 11.7055 17.945 11.8009C17.9086 11.8964 17.8554 11.9831 17.7883 12.0561L13.4691 16.769C13.4022 16.8422 13.3228 16.9003 13.2353 16.9399C13.1478 16.9796 13.054 17 12.9592 17C12.8645 17 12.7707 16.9796 12.6832 16.9399C12.5957 16.9003 12.5162 16.8422 12.4493 16.769Z"
                        fill="#151E2D"
                      />
                    </svg>
                  </div>
                </div>
              </a>
            );
          })
        }
      </div>
      <Pagination
        previousPage={page.url && page.url.prev ? page.url.prev : null}
        nextPage={page.url && page.url.next ? page.url.next : null}
      />
    </Container>
  </section>
</Layout>
