---
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import fetchApi from "../lib/strapi";

const menuquery = `menus?nested&populate=*`;

const menus: any = await fetchApi({
  endpoint: menuquery,
  wrappedByKey: "data", // the key to unwrap the response
});

const headerMenu = menus.filter((menu) => menu.id === 2)[0];

const footerLinks = menus.filter((menu) => menu.id === 3)[0].attributes.items
  .data;
const legalLinks = menus.filter((menu) => menu.id === 4)[0].attributes.items
  .data;

const date = new Date();
const year = date.getFullYear();
---

<footer class="pt-20 pb-4 bg-dark-1 text-white">
  <Container>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-12 mb-20">
      <div class="lg:col-span-2">
        <a href="/"><Image src={logo} alt="hcas logo" /></a>
        <p class="text-body-sm my-6 max-w-[320px]">
          Enroll in a program where faith and education unite to shape your
          future.
        </p>
        <!-- <Image src="/Images/TRACS.svg" alt="TRACS" width="173" height="173" /> -->
      </div>
      <div>
        <p class="font-display text-display-xs font-bold mb-5">Quick Links</p>
        <div class="flex flex-col gap-3">
          {
            footerLinks.map((link) => (
              <a href={link.attributes.url} class="text-body-xs">
                {link.attributes.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <p class="font-display text-display-xs font-bold mb-5">Get In Touch</p>
        <div class="flex flex-col gap-3">
          <a
            target="_blank"
            href="https://www.google.com/maps/place/Hope+College+of+Arts+%26+Sciences/@26.2262039,-80.1421172,17z/data=!3m1!5s0x88d902fe8c409c65:0x9fad7b55ab7dd396!4m14!1m7!3m6!1s0x88d91d3627210b23:0xb3afa684b7dff5c8!2sHope+College+of+Arts+%26+Sciences!8m2!3d26.2262039!4d-80.1395423!16s%2Fg%2F1td5xz0d!3m5!1s0x88d91d3627210b23:0xb3afa684b7dff5c8!8m2!3d26.2262039!4d-80.1395423!16s%2Fg%2F1td5xz0d?entry=ttu"
            class="text-body-xs flex flex-row flex-start gap-2"
            ><div class="w-5 h-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="17"
                viewBox="0 0 12 17"
                fill="none"
              >
                <path
                  d="M5.83333 7.91667C5.2808 7.91667 4.7509 7.69717 4.36019 7.30647C3.96949 6.91577 3.75 6.38587 3.75 5.83333C3.75 5.2808 3.96949 4.7509 4.36019 4.36019C4.7509 3.96949 5.2808 3.75 5.83333 3.75C6.38587 3.75 6.91577 3.96949 7.30647 4.36019C7.69717 4.7509 7.91667 5.2808 7.91667 5.83333C7.91667 6.10692 7.86278 6.37783 7.75808 6.63059C7.65339 6.88335 7.49993 7.11302 7.30647 7.30647C7.11302 7.49993 6.88335 7.65339 6.63059 7.75808C6.37783 7.86278 6.10692 7.91667 5.83333 7.91667ZM5.83333 0C4.28624 0 2.80251 0.614581 1.70854 1.70854C0.614582 2.80251 0 4.28624 0 5.83333C0 10.2083 5.83333 16.6667 5.83333 16.6667C5.83333 16.6667 11.6667 10.2083 11.6667 5.83333C11.6667 4.28624 11.0521 2.80251 9.95812 1.70854C8.86416 0.614581 7.38043 0 5.83333 0Z"
                  fill="white"></path>
              </svg>
            </div>Address: 1200 SW 3rd St, Pompano Beach, FL 33069, USA</a
          >
          <a href="/" class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M12.464 10.7543L12.0849 11.1318C12.0849 11.1318 11.1824 12.0285 8.71988 9.58017C6.25738 7.13183 7.15988 6.23517 7.15988 6.23517L7.39821 5.99683C7.98738 5.41183 8.04321 4.47183 7.52905 3.78517L6.47905 2.38267C5.84238 1.53267 4.61321 1.42017 3.88405 2.14517L2.57571 3.44517C2.21488 3.80517 1.97321 4.27017 2.00238 4.78683C2.07738 6.10933 2.67571 8.9535 6.01238 12.2718C9.55155 15.7902 12.8724 15.9302 14.2299 15.8035C14.6599 15.7635 15.0332 15.5452 15.334 15.2452L16.5174 14.0685C17.3174 13.2743 17.0924 11.9118 16.069 11.356L14.4774 10.4902C13.8057 10.126 12.989 10.2327 12.464 10.7543Z"
                fill="white"></path>
            </svg>954-532-9614</a
          >
          <a href="/" class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M16.1667 7.16667H15.3333V3H7V16.3333H18.6667V9.66667C18.6667 8.28333 17.55 7.16667 16.1667 7.16667ZM8.66667 4.66667H13.6667V7.16667H8.66667V4.66667ZM12 13.8333H8.66667V9.66667H12V13.8333ZM13.6667 13.8333C13.2083 13.8333 12.8333 13.4583 12.8333 13C12.8333 12.5417 13.2083 12.1667 13.6667 12.1667C14.125 12.1667 14.5 12.5417 14.5 13C14.5 13.4583 14.125 13.8333 13.6667 13.8333ZM13.6667 11.3333C13.2083 11.3333 12.8333 10.9583 12.8333 10.5C12.8333 10.0417 13.2083 9.66667 13.6667 9.66667C14.125 9.66667 14.5 10.0417 14.5 10.5C14.5 10.9583 14.125 11.3333 13.6667 11.3333ZM16.1667 13.8333C15.7083 13.8333 15.3333 13.4583 15.3333 13C15.3333 12.5417 15.7083 12.1667 16.1667 12.1667C16.625 12.1667 17 12.5417 17 13C17 13.4583 16.625 13.8333 16.1667 13.8333ZM16.1667 11.3333C15.7083 11.3333 15.3333 10.9583 15.3333 10.5C15.3333 10.0417 15.7083 9.66667 16.1667 9.66667C16.625 9.66667 17 10.0417 17 10.5C17 10.9583 16.625 11.3333 16.1667 11.3333ZM4.08333 6.33333C3.5308 6.33333 3.0009 6.55283 2.61019 6.94353C2.21949 7.33423 2 7.86413 2 8.41667V15.0833C2 15.6359 2.21949 16.1658 2.61019 16.5565C3.0009 16.9472 3.5308 17.1667 4.08333 17.1667C4.63587 17.1667 5.16577 16.9472 5.55647 16.5565C5.94717 16.1658 6.16667 15.6359 6.16667 15.0833V8.41667C6.16667 8.14308 6.11278 7.87217 6.00808 7.61941C5.90339 7.36665 5.74993 7.13698 5.55647 6.94353C5.36302 6.75007 5.13335 6.59661 4.88059 6.49192C4.62783 6.38722 4.35692 6.33333 4.08333 6.33333Z"
                fill="white"></path>
            </svg>754-222-9835</a
          >
          <a href="/" class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M17 3H3.66667C2.75 3 2.00833 3.75 2.00833 4.66667L2 14.6667C2 15.5833 2.75 16.3333 3.66667 16.3333H17C17.9167 16.3333 18.6667 15.5833 18.6667 14.6667V4.66667C18.6667 3.75 17.9167 3 17 3ZM17 6.33333L10.3333 10.5L3.66667 6.33333V4.66667L10.3333 8.83333L17 4.66667V6.33333Z"
                fill="white"></path>
            </svg>admissions@dp.hcas.edu</a
          >
        </div>
      </div>
      <div>
        <p class="font-display text-display-xs font-bold mb-5">Follow Us</p>
        <div class="flex flex-col gap-3">
          <a
            target="_blank"
            href="https://www.facebook.com/hopecollegeofartsandsci"
            class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M16.5 6H13.5C12.9477 6 12.5 6.44772 12.5 7V10H16.5C16.6137 9.99748 16.7216 10.0504 16.7892 10.1419C16.8568 10.2334 16.8758 10.352 16.84 10.46L16.1 12.66C16.0318 12.8619 15.8431 12.9984 15.63 13H12.5V20.5C12.5 20.7761 12.2761 21 12 21H9.5C9.22386 21 9 20.7761 9 20.5V13H7.5C7.22386 13 7 12.7761 7 12.5V10.5C7 10.2239 7.22386 10 7.5 10H9V7C9 4.79086 10.7909 3 13 3H16.5C16.7761 3 17 3.22386 17 3.5V5.5C17 5.77614 16.7761 6 16.5 6Z"
                fill="white"></path>
            </svg>Facebook</a
          >
          <a
            target="_blank"
            href="https://www.instagram.com/hopecollegeofartsandsci/"
            class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z"
                fill="white"></path>
            </svg>Instagram</a
          >

          <a
            href="https://www.tiktok.com/@hopecollegeofartsandsci"
            target="_blank"
            class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.6002 5.82C15.9166 5.03962 15.5399 4.03743 15.5402 3H12.4502V15.4C12.4263 16.071 12.143 16.7066 11.6599 17.1729C11.1768 17.6393 10.5316 17.8999 9.86016 17.9C8.44016 17.9 7.26016 16.74 7.26016 15.3C7.26016 13.58 8.92016 12.29 10.6302 12.82V9.66C7.18016 9.2 4.16016 11.88 4.16016 15.3C4.16016 18.63 6.92016 21 9.85016 21C12.9902 21 15.5402 18.45 15.5402 15.3V9.01C16.7932 9.90985 18.2975 10.3926 19.8402 10.39V7.3C19.8402 7.3 17.9602 7.39 16.6002 5.82Z"
                fill="white"></path>
            </svg>

            TikTok</a
          >
          <a
            href="https://www.pinterest.com/hopecollegeofartsandsci/"
            target="_blank"
            class="text-body-xs flex flex-row flex-start gap-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2 12C2 6.47688 6.47688 2 12 2C17.5225 2 22 6.47688 22 12C22 17.5225 17.5231 22 12 22C6.47688 22 2 17.5225 2 12ZM13.0001 14.8781C15.3857 14.8781 17.0045 12.7025 17.0045 9.79125C17.0045 7.58937 15.1401 5.53937 12.3057 5.53812C8.77948 5.53812 7.00136 8.06625 7.00136 10.1744C7.00136 11.4506 7.48448 12.5869 8.52136 13.01C8.69073 13.0794 8.84323 13.0125 8.89261 12.8244C8.91083 12.7564 8.94141 12.6348 8.97166 12.5146C8.99952 12.4039 9.0271 12.2944 9.04448 12.2287C9.09448 12.0425 9.07511 11.9775 8.93823 11.815C8.63948 11.4625 8.44823 11.0062 8.44823 10.3594C8.44823 8.48375 9.85136 6.805 12.102 6.805C14.0951 6.805 15.1901 8.02312 15.1901 9.64937C15.1901 11.7894 14.2432 13.5956 12.837 13.5956C12.0607 13.5956 11.4795 12.9531 11.6657 12.1656C11.7464 11.826 11.8542 11.4766 11.9591 11.1367C12.1446 10.536 12.3207 9.96538 12.3207 9.53187C12.3207 8.92437 11.9951 8.41812 11.3201 8.41812C10.5264 8.41812 9.88886 9.23937 9.88886 10.3394C9.88886 11.04 10.1257 11.5137 10.1257 11.5137C10.1257 11.5137 9.31386 14.9556 9.17136 15.5581C8.90173 16.699 9.10557 18.0842 9.14423 18.3469C9.14626 18.3607 9.14783 18.3713 9.14886 18.3787C9.16073 18.4669 9.27386 18.4875 9.32511 18.4212C9.32887 18.4163 9.33493 18.4086 9.34311 18.3981C9.49384 18.2056 10.3604 17.0988 10.6651 15.9925C10.7557 15.6625 11.187 13.9525 11.187 13.9525C11.4451 14.445 12.1982 14.8781 13.0001 14.8781Z"
                fill="white"></path>
            </svg>Pinterest</a
          >
        </div>
      </div>
    </div>
    <div class="w-full h-px bg-brand-blue mb-6"></div>
    <div class="flex flex-col sm:flex-row justify-between gap-8">
      <div>
        <p class="text-body-xs">
          Brand and Website Designed By <a
            href="https://www.thecreativelabs.io/"
            target="_blank">Creative Labs a Web Design Agency in VA</a
          >
        </p>
        <p class="text-body-xs">
          © {year} Hope College of Arts and Sciences. All right reserved.
        </p>
      </div>
      <div class="flex flex-col sm:flex-row gap-6">
        {
          legalLinks.map((link) => (
            <a href={link.attributes.url} class="text-body-xs">
              {link.attributes.title}
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</footer>
