---
import Container from "../layouts/Container.astro";
import NavigationMenuDemo from "../components/Navigation";
import fetchApi from "../lib/strapi";
import { AccordionMenu } from "./Accordion";
import ButtonLink from "./ButtonLink.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const menuquery = `menus?nested&populate=*`;

const menus = (await fetchApi({
  endpoint: menuquery,
  wrappedByKey: "data", // the key to unwrap the response
})) as {
  attributes: {
    items: { title: string; url: string };
  };
};

const mainDropdowns = menus[1].attributes.items.data;

console.log(mainDropdowns[0]);
---

<div
  class="w-full py-2 bg-brand-blue text-body-sm hidden lg:block font-semibold text-white"
>
  <Container classes="flex flex-row gap-8 items-center justify-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M22.1333 24L13.7333 15.6C13.0667 16.1333 12.3 16.5556 11.4333 16.8667C10.5667 17.1778 9.64444 17.3333 8.66667 17.3333C6.24444 17.3333 4.19467 16.4942 2.51733 14.816C0.84 13.1378 0.000888889 11.088 0 8.66667C0 6.24444 0.839111 4.19467 2.51733 2.51733C4.19556 0.84 6.24533 0.000888889 8.66667 0C11.0889 0 13.1391 0.839111 14.8173 2.51733C16.4956 4.19556 17.3342 6.24533 17.3333 8.66667C17.3333 9.64444 17.1778 10.5667 16.8667 11.4333C16.5556 12.3 16.1333 13.0667 15.6 13.7333L24 22.1333L22.1333 24ZM8.66667 14.6667C10.3333 14.6667 11.7502 14.0836 12.9173 12.9173C14.0844 11.7511 14.6676 10.3342 14.6667 8.66667C14.6667 7 14.0836 5.58356 12.9173 4.41733C11.7511 3.25111 10.3342 2.66756 8.66667 2.66667C7 2.66667 5.58356 3.25022 4.41733 4.41733C3.25111 5.58444 2.66756 7.00089 2.66667 8.66667C2.66667 10.3333 3.25022 11.7502 4.41733 12.9173C5.58444 14.0844 7.00089 14.6676 8.66667 14.6667Z"
        fill="white"></path>
    </svg>
    <div class="lg:flex flex-row gap-8 items-center hidden">
      <a href="#">Canvas</a>
      <a href="#">Student Email</a>
      <a href="#">Student Portal</a>
      <a href="#">FA Student Portal</a>
      <a href="#">Library</a>
    </div>
  </Container>
</div>
<header class="bg-dark-1 text-white py-2">
  <Container classes="flex flex-row justify-between items-center">
    <a href="/">
      <Image
        src={logo}
        alt="hca logo"
        loading="eager"
        class="max-w-56 h-auto"
      />
    </a>
    <div><NavigationMenuDemo content={mainDropdowns} client:load /></div>
    <a
      class=` px-7 py-2 rounded-lg max-w-[140px]  justify-center font-semibold text-body-md hidden xl:inline-flex  inline-block bg-brand-blue hover:bg-brand-blue2 text-white`
      href="#"
      target="_self"
      >Apply Now
    </a>
    <div class="flex flex-row gap-8 items-center lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M22.1333 24L13.7333 15.6C13.0667 16.1333 12.3 16.5556 11.4333 16.8667C10.5667 17.1778 9.64444 17.3333 8.66667 17.3333C6.24444 17.3333 4.19467 16.4942 2.51733 14.816C0.84 13.1378 0.000888889 11.088 0 8.66667C0 6.24444 0.839111 4.19467 2.51733 2.51733C4.19556 0.84 6.24533 0.000888889 8.66667 0C11.0889 0 13.1391 0.839111 14.8173 2.51733C16.4956 4.19556 17.3342 6.24533 17.3333 8.66667C17.3333 9.64444 17.1778 10.5667 16.8667 11.4333C16.5556 12.3 16.1333 13.0667 15.6 13.7333L24 22.1333L22.1333 24ZM8.66667 14.6667C10.3333 14.6667 11.7502 14.0836 12.9173 12.9173C14.0844 11.7511 14.6676 10.3342 14.6667 8.66667C14.6667 7 14.0836 5.58356 12.9173 4.41733C11.7511 3.25111 10.3342 2.66756 8.66667 2.66667C7 2.66667 5.58356 3.25022 4.41733 4.41733C3.25111 5.58444 2.66756 7.00089 2.66667 8.66667C2.66667 10.3333 3.25022 11.7502 4.41733 12.9173C5.58444 14.0844 7.00089 14.6676 8.66667 14.6667Z"
          fill="white"></path>
      </svg>

      <a id="OpenBtn" class="hover:cursor-pointer lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="43"
          height="38"
          viewBox="0 0 43 38"
          fill="none"
        >
          <path
            d="M2.0498 4H40.0498M2.0498 19H40.0498M2.0498 34H40.0498"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a class="hover:cursor-pointer hidden" id="CloseBtn"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="43"
          height="38"
          viewBox="0 0 43 38"
          fill="none"
        >
          <path
            d="M3.13281 3L39.8013 36"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"></path>
          <path
            d="M39.6685 3L2.99992 36"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"></path>
        </svg></a
      >
    </div>
  </Container>
</header>
<!-- Navbar -->
<div
  id="navbar"
  class="bg-[#25272C] bg-opacity-45 absolute top-[79px] hidden left-0 w-full h-full z-40"
>
  <div
    class="bg-brand-blue w-full z-50 px-4 pb-10 py-10 flex flex-col text-body-md gap-6 items-center text-center text-white"
  >
    <a class="toogleLink" href="/">Home</a>
    {
      mainDropdowns.map((dropdown) => (
        <AccordionMenu client:load question={dropdown.attributes.title}>
          <ul class=" flex flex-col gap-2">
            {dropdown.attributes.children.data.map((childDropdown) =>
              childDropdown.attributes.children.data.length === 0 ? (
                <li>
                  <a
                    class="toogleLink text-white"
                    href={childDropdown.attributes.url}
                  >
                    {childDropdown.attributes.title}
                  </a>
                </li>
              ) : (
                <AccordionMenu
                  client:load
                  question={childDropdown.attributes.title}
                >
                  {childDropdown.attributes.children.data.map((childLinks) => (
                    <li>
                      <a
                        class="toogleLink text-dark-1"
                        href={childLinks.attributes.url}
                      >
                        {childLinks.attributes.title}
                      </a>
                    </li>
                  ))}
                </AccordionMenu>
              )
            )}
          </ul>
        </AccordionMenu>
      ))
    }
    <a href="#">Canvas</a>
    <a href="#">Student Email</a>
    <a href="#">Student Portal</a>
    <a href="#">FA Student Portal</a>
    <a href="#">Library</a>
  </div>
</div>

<!-- end of Navbar -->

<script>
  const OpenBtn = document.querySelector("#OpenBtn");
  const CloseBtn = document.querySelector("#CloseBtn");

  const Navbar = document.querySelector("#navbar");
  const toogleLinks = document.querySelectorAll(".toogleLink");

  OpenBtn.addEventListener("click", () => {
    Navbar.classList.remove("hidden");
    OpenBtn.classList.add("hidden");
    CloseBtn.classList.remove("hidden");
  });
  CloseBtn.addEventListener("click", () => {
    Navbar.classList.add("hidden");
    OpenBtn.classList.remove("hidden");
    CloseBtn.classList.add("hidden");
  });

  toogleLinks.forEach((link) => {
    link.addEventListener("click", () => {
      Navbar.classList.toggle("hidden");
    });
  });
</script>
