---
import fetchApi from "../../lib/strapi";
import type Page from "../../interfaces/page";
import Layout from "../../layouts/Layout.astro";
import Container from "../../layouts/Container.astro";

const query = `academics?populate=deep`;
const pagesData = await fetchApi<Page[]>({
  endpoint: query, // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});

console.log(pagesData);


---

<Layout title="Academics">
  <Container>
    <h1>Admissions and Tuitions</h1>
    <p class="mb-8">This page will be deleted once everything is developed</p>

    
      <div class="mb-8">
        <h2>Non-Degree Programs</h2>
        <div class="flex flex-col gap-4">
        { 
          pagesData
            .filter((page) => page.attributes.category === "non-degree programs")
            .map((page) => {
              const link = `/academics/${page.attributes.slug}`;
              return <a href={link}>{page.attributes.title}</a>;
            })
        }
        </div>
      </div>

      <div class="mb-8">
        <h2>Degree Programs</h2>
        <div class="flex flex-col gap-4">
          {/*  { 
          pagesData
            .filter((page) => page.attributes.category === "degree programs")
            .map((page) => {
              const link = `/academics/${page.attributes.slug}`;
              return <a href={link}>{page.attributes.title}</a>;
            })
        } */}
      
        </div>
      </div>

      <div class="mb-8">
        <h2>Information</h2>
        <div class="flex flex-col gap-4">
        { 
          pagesData
            .filter((page) => page.attributes.category === "information")
            .map((page) => {
              const link = `/academics/${page.attributes.slug}`;
              return <a href={link}>{page.attributes.title}</a>;
            })
        }
        </div>
      </div>

      <div class="mb-8">
        <h2>Review and Remedial</h2>
        <div class="flex flex-col gap-4">
        { 
          pagesData
            .filter((page) => page.attributes.category === "review and remedial")
            .map((page) => {
              const link = `/academics/${page.attributes.slug}`;
              return <a href={link}>{page.attributes.title}</a>;
            })
        }
        </div>
      </div>
      </div>
      
    
  </Container>
</Layout>
