---
import Container from "../layouts/Container.astro";
import { AccordionContact } from "../components/Accordion.jsx";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import { Image } from "astro:assets";

const { content } = Astro.props;

---

<section class="bg-gray py-20">
  <Container>
    <div class="max-w-[880px] mx-auto flex flex-col gap-12">
      {
        content.DetailedContactInfo.map((item) => (
          <AccordionContact client:load question={item.title}>
            <div class=" mb-11">
              {item.description && (
                <BlocksRenderer content={item.description} />
              )}
            </div>
            <div class="flex flex-col gap-10">
              {" "}
              {item.contactInfo.map((info) => (
                <div class=" flex flex-row items-start gap-3">
                  <div class=" w-[60px] h-[60px]">
                    {info.icon?.data?.attributes?.url && (
                      <Image
                        src={info.icon.data.attributes.url}
                        inferSize
                        alt={info.label}
                      />
                    )}
                  </div>
                  <div>
                    <p class=" font-display text-display-sm font-bold mb-1.5">
                      {info.label}
                    </p>
                    {info?.link ? (
                      <a href={info.link} class="text-brand-blue text-body-md">
                        {info.text}
                      </a>
                    ) : (
                      <p class="text-dark-1 text-body-md"> {info.text} </p>
                    )}
                  </div>
                </div>
              ))}
            </div>
          </AccordionContact>
        ))
      }
    </div>
  </Container>
</section>
