---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ButtonLink from "../components/ButtonLink.astro";




const layout = content.layout;
const layouts = {
  "image-content": "md:flex-row ",
  "content-image": "md:flex-row-reverse",
};

console.log(content);


const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]} py-24 bg-section-bg bg-cover bg-no-repeat	`>
  <Container>
    <div class=`flex flex-col gap-8 md:items-center ${layouts[layout]}`>
      <div class=" md:py-16 py-8 md:px-8 px-4 rounded-lg">
     <p class=" mb-4 tagline">{content.tagline}</p>
      <h2 class=" mb-4">{content.title}</h2>
      <div class="mb-9"><BlocksRenderer content={content.description} /></div>
    {
        content.button && (
          <div class="mt-6">
            <ButtonLink
              button={content.button}
              target={content.button.target}
              variant="secondary"
            />
          </div>
        )
        } 
    </div>
         
      
      <img src={content.image.data.attributes.url} alt={content.title}>
    
    </div>
    
  </Container>
</section>
