---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;



const layout = content.layout;
const layouts = {
  "image-content": "md:flex-row ",
  "content-image": "md:flex-row-reverse  ",
};

console.log(content);


const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]} py-24`>
  <Container>
    <div class=`flex flex-col ${layouts[layout]}`>
      <h2>{content.title}</h2>
      <img src={content.image.data.attributes.url} alt={content.title}>
    
    </div>
    
  </Container>
</section>
