---
import Container from "../layouts/Container.astro";
const { content } = Astro.props;
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ButtonLink from "../components/ButtonLink.astro";
import { Image } from "astro:assets";

const layout = content.layout;
const layouts = {
  "image-content": "lg:flex-row ",
  "content-image": "lg:flex-row-reverse",
};

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]} py-24 bg-section-bg bg-cover bg-no-repeat	`>
  <Container>
    <div
      class=`flex flex-col gap-8 lg:gap-16 justify-between   ${layouts[layout]}`
    >
      <div
        class="w-full md:max-w-lg lg:max-h-[30rem] rounded-lg overflow-hidden"
      >
        <Image
          src={content.image.data.attributes.url}
          inferSize
          alt={content.title}
          class="w-full h-full object-cover"
        />
      </div>

      <div
        class="w-full lg:max-w-2xl md:py-16 py-8 md:px-8 px-4 rounded-lg shadow-lg bg-white"
      >
        {
          content.tagline && (
            <p class="mb-4 tagline text-dark-1">{content.tagline}</p>
          )
        }
        <h2 class="mb-4 text-brand-blue">{content.title}</h2>
        <div class="mb-9 font-semibold">
          <BlocksRenderer content={content.description} />
        </div>
        {
          content.button && (
            <div class="mt-6">
              <ButtonLink
                button={content.button}
                target={content.button.target}
                variant={content.button.type}
              />
            </div>
          )
        }
      </div>
    </div>
  </Container>
</section>
