---
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";

const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]} py-20 bg-section-bg bg-cover bg-no-repeat`>
  <Container>
    {
      content.tagline && (
        <p class="mb-4 tagline text-brand-blue">{content.tagline}</p>
      )
    }
    <h2 class="mb-6">{content.title}</h2>
    <p>{content.description}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 mt-12">
      {
        content.list.map((member) => (
          <div class=" bg-white rounded-lg shadow-lg p-4 sm:p-8">
            <div class=" mb-7 flex flex-row items-center justify-between">
              {member.image && (
                <Image
                  src={member.image.data.attributes.url}
                  alt={member.name}
                  inferSize
                  class=" w-[120px] h-[120px] object-cover"
                />
              )}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                viewBox="0 0 100 100"
                fill="none"
              >
                <circle cx="50" cy="50" r="50" fill="#00A5E4" />
                <path
                  d="M45.5062 50.9636C48.5244 52.1552 49.9718 49.0157 49.9718 49.0157C43.6191 40.4462 46.3371 23.9873 46.5676 22.7141C46.8303 21.3538 47.0233 19.0469 47.0233 19.0469C46.4906 19.3122 46.0223 19.6936 45.6516 20.1639C45.2809 20.6342 45.0171 21.1817 44.8789 21.7674C44.3053 24.0907 43.5816 28.6012 44.2035 35.212C44.2035 35.212 43.0884 27.5566 43.8657 21.1199C43.0648 21.8283 42.4259 22.7055 41.9935 23.6903C41.5611 24.6752 41.3456 25.7439 41.3621 26.822C41.3621 29.9125 41.6784 34.2326 43.1205 37.2796C43.1205 37.2796 40.6974 33.2097 40.3543 25.1734C39.3891 26.6802 39.0072 28.4961 39.2821 30.2716C39.6895 33.0465 40.5258 37.0238 42.2092 40.0653C42.2092 40.0653 39.1534 34.8964 38.0062 29.6622V29.6894C37.2426 31.53 37.1777 33.5923 37.8239 35.4786C38.3958 37.2559 39.0853 38.9919 39.8879 40.6747C38.4288 38.8696 37.2069 36.8797 36.2532 34.755C35.8064 36.4137 35.9605 38.1801 36.6874 39.7334C37.6401 41.8713 38.9619 43.819 40.5902 45.4846C38.5768 43.7484 36.7134 41.8407 35.0201 39.7824C34.8843 40.5705 34.9339 41.3801 35.165 42.1451C35.396 42.91 35.8019 43.6087 36.3497 44.1842C38.8954 46.9243 41.9039 49.1798 45.2328 50.8439L45.5062 50.9636Z"
                  fill="white"
                />
                <path
                  d="M60.6167 48.8075C59.121 46.3754 56.5531 44.9662 53.374 46.9304C50.195 48.8946 49.4391 54.0037 44.7 51.7783C39.9609 49.5529 32.7022 44.618 27.3949 33.2572C22.7737 23.3547 24.13 21.5864 22.6933 21.3633C22.4949 21.3633 22.2269 21.5211 21.9106 21.9074C21.0832 22.9211 20.6689 24.2175 20.7526 25.5311C20.9081 28.4692 22.2751 34.6229 29.5017 43.4863C29.5017 43.4863 24.441 41.3588 18.9996 28.6107L18.9085 28.4039C18.8388 28.627 18.7744 28.8555 18.7047 29.084C18.4555 29.9174 18.4953 30.8123 18.8173 31.6195C20.0289 34.661 23.6422 42.5667 29.8555 47.6921C29.8555 47.6921 25.1325 47.0447 17.6218 33.6816C17.5897 33.8666 17.5575 34.0571 17.5307 34.2257C17.3444 35.368 17.5528 36.5405 18.1204 37.5447C20.0825 41.065 24.3069 47.5561 30.3648 51.1472C30.3648 51.1472 25.3952 50.8914 17.016 39.4817V39.9823C17.0013 41.1953 17.3778 42.38 18.0882 43.3557C20.3184 46.4679 24.9503 51.9851 30.9545 53.9656C30.9545 53.9656 27.5718 55.5271 17.3591 45.2927C17.3591 45.5049 17.4181 45.7116 17.4503 45.9184C17.8309 48.5627 20.2004 51.4355 27.8559 55.2932C27.8559 55.2932 24.1408 55.0102 18.8388 51.3049C19.3437 52.648 20.2907 53.7726 21.5192 54.4879C25.5775 56.9255 28.5153 58.0137 33.8387 58.7645C33.8387 58.7645 29.491 59.6242 21.3638 56.3977C22.101 57.4987 23.1468 58.3497 24.3659 58.8407C28.4724 60.473 30.6382 61.0171 36.6211 60.5165C36.6211 60.5165 32.7933 62.1488 25.1647 60.7886L25.288 60.8974C26.3819 61.8716 27.7443 62.4813 29.1908 62.6439C31.5067 62.9051 34.8144 63.1173 36.9159 62.546C36.9159 62.546 34.0049 63.6831 28.8745 63.5471C29.2911 63.9965 29.803 64.3437 30.3715 64.5624C30.9399 64.7811 31.55 64.8656 32.1554 64.8094C33.8239 64.7661 35.4853 64.5713 37.1196 64.2272C35.4148 65.3154 31.689 65.5276 31.689 65.5276L32.1929 66.7029C31.6836 66.8443 31.1529 66.9749 30.5846 67.0946C25.7866 68.123 21.6908 70.4082 19.9217 72.3288C20.1072 72.5688 20.3619 72.7439 20.6503 72.8297C20.9386 72.9156 21.2462 72.9079 21.53 72.8077L28.3652 70.4408C28.3652 70.4408 24.1139 72.7369 22.0875 74.9133C22.4343 75.2989 22.9061 75.5451 23.4169 75.607C23.9276 75.6689 24.4433 75.5425 24.8698 75.2506L29.0407 72.3669L24.827 77.8079C24.9959 77.9715 25.1952 78.0994 25.4132 78.1842C25.6313 78.269 25.8637 78.309 26.0971 78.3019C26.3305 78.2948 26.5602 78.2408 26.7728 78.1429C26.9855 78.045 27.1769 77.9053 27.3359 77.7317L31.169 73.5259L28.006 80.2128C28.4193 80.3924 28.883 80.413 29.3102 80.2708C29.7375 80.1286 30.099 79.8333 30.3273 79.4402L32.7236 75.3921L31.3727 81.0725C31.8692 81.1275 32.3691 81.0048 32.786 80.7257C33.2029 80.4466 33.5108 80.0285 33.6565 79.5436L34.8305 75.6315L35.2111 81.1269C35.5448 81.1018 35.8558 80.9457 36.078 80.6917C36.3002 80.4378 36.4161 80.1059 36.4013 79.7667C36.3208 77.5032 36.5621 72.8294 39.8162 71.7684C44.1532 70.3592 49.4177 72.1547 55.6471 66.8716C61.8765 61.5884 60.1557 56.0603 60.5738 54.9014C60.8886 54.1789 61.3892 53.5556 62.023 53.097C62.6569 52.6385 63.4007 52.3615 64.1764 52.2952C64.1764 52.2952 61.5656 50.3528 60.6167 48.8075Z"
                  fill="white"
                />
                <path
                  d="M72.3476 39.1796C72.3545 39.0674 72.3725 38.9562 72.4012 38.8477C72.4012 38.7715 72.4548 38.7062 72.5459 38.7171C72.8438 38.7419 73.1431 38.6923 73.4178 38.5729C73.6925 38.4534 73.9343 38.2675 74.1221 38.0315C74.3236 37.8225 74.5033 37.5927 74.6582 37.346C74.7815 37.1991 74.8458 37.0141 74.953 36.8617C75.3857 35.9606 75.5867 34.9629 75.5374 33.9617C75.5493 33.8949 75.5389 33.8259 75.5078 33.7658C75.4767 33.7057 75.4267 33.6578 75.3658 33.6298C75.3074 33.6091 75.2437 33.6091 75.1853 33.6298C75.1269 33.6506 75.0771 33.6909 75.0441 33.7441C74.8386 33.9689 74.6104 34.1713 74.3633 34.348C73.5807 34.8943 72.9716 35.66 72.6103 36.5516C72.6103 36.5516 72.5727 36.5951 72.5352 36.6441C72.4528 36.3451 72.3972 36.0392 72.369 35.73C72.369 35.5885 72.369 35.4416 72.3261 35.3002C72.259 35.0938 72.2475 34.873 72.2928 34.6607C72.338 34.4483 72.4384 34.2521 72.5835 34.0923C73.0284 33.6135 72.9534 32.917 72.8033 32.2913C72.644 31.6615 72.3574 31.0723 71.9616 30.5611C71.3836 29.8032 70.8587 29.005 70.3908 28.1725C70.3372 28.08 70.2943 27.9331 70.155 27.9766C70.0156 28.0202 70.0853 28.1671 70.1013 28.2704C70.1487 28.5556 70.1133 28.8486 69.9995 29.1138C69.7743 29.6579 69.6242 30.2673 69.4634 30.844C69.0238 32.1988 70.2139 34.1793 71.6078 34.3915C71.6575 34.3906 71.7069 34.4002 71.7527 34.42C71.7985 34.4397 71.8397 34.469 71.8736 34.5059C71.9075 34.5429 71.9334 34.5867 71.9494 34.6345C71.9655 34.6823 71.9715 34.733 71.967 34.7833C72.0098 35.3981 72.0795 36.0129 72.1385 36.6278C72.1385 36.7584 72.1385 36.8889 72.1385 37.0032C72.1276 37.0101 72.1155 37.0148 72.1028 37.0169C72.0902 37.019 72.0772 37.0185 72.0647 37.0154C72.0523 37.0124 72.0405 37.0069 72.0302 36.9992C72.0198 36.9915 72.0111 36.9817 72.0045 36.9706C71.4385 36.2526 70.7274 35.6663 69.9191 35.2512C69.5084 35.0648 69.1426 34.79 68.8469 34.4459C68.7718 34.3371 68.6485 34.2392 68.5091 34.3371C68.3698 34.4351 68.4341 34.5656 68.5091 34.6908C68.733 35.2699 68.9281 35.8601 69.0935 36.4591C69.4153 37.3511 69.956 38.1451 70.6642 38.7661C70.9482 39.0209 71.2855 39.2069 71.6507 39.3102C71.7954 39.3428 71.9026 39.3863 71.8651 39.5713C71.604 41.0433 71.1078 42.4621 70.3962 43.7718C70.3479 43.8534 70.3104 43.9948 70.1925 43.9568C70.0745 43.9187 70.1121 43.8044 70.096 43.7119C70.058 43.4727 70.0508 43.2294 70.0745 42.9883C70.123 42.3913 70.0531 41.7905 69.8689 41.2213C69.6848 40.6522 69.3901 40.1263 69.0023 39.6747C68.848 39.4459 68.6681 39.2359 68.4662 39.049C68.359 38.9619 68.2411 38.8749 68.1071 38.9511C68.0536 38.9913 68.0157 39.0492 68.0001 39.1148C67.9844 39.1805 67.9919 39.2496 68.0213 39.3102C68.134 39.6991 68.134 40.1128 68.0213 40.5017C67.9042 41.099 67.9133 41.7147 68.0481 42.3081C68.2111 42.9288 68.5686 43.4788 69.0667 43.8751C69.263 44.0635 69.4425 44.2693 69.6028 44.49C69.6299 44.5135 69.6517 44.5427 69.6667 44.5755C69.6816 44.6084 69.6894 44.6442 69.6894 44.6804C69.6894 44.7166 69.6816 44.7524 69.6667 44.7853C69.6517 44.8182 69.6299 44.8473 69.6028 44.8708C69.4473 45.0177 69.2972 45.1701 69.1471 45.3224C69.0828 45.3877 68.9863 45.4258 68.9487 45.5183C68.7772 45.6924 68.5949 45.8557 68.4126 46.0243C68.3644 46.0733 68.3215 46.1549 68.2357 46.1223C68.15 46.0896 68.166 45.9917 68.1607 45.9101C68.1607 45.551 68.1607 45.1973 68.091 44.8219C67.9846 44.0489 67.6414 43.3294 67.1099 42.7652C66.3852 42.1411 65.5068 41.7292 64.5688 41.5736C64.4777 41.5736 64.3008 41.4594 64.3544 41.7151C64.5131 42.751 64.7424 43.7746 65.0406 44.7783C65.1581 45.2072 65.3689 45.6038 65.6574 45.9391C65.946 46.2743 66.3049 46.5396 66.7079 46.7153H66.7615C67.3297 47.0091 67.3297 47.0418 66.8901 47.5097C66.3445 48.0018 65.8322 48.5308 65.3569 49.093C65.239 49.2508 65.1532 49.2454 65.1049 49.0386C64.9794 48.6 64.7992 48.1795 64.5688 47.7872C64.2962 47.2521 63.9333 46.7697 63.4966 46.3617C62.9818 45.9403 62.5552 45.4186 62.2422 44.8273C62.2272 44.7773 62.1937 44.7351 62.1487 44.7097C62.1037 44.6844 62.0507 44.6777 62.0009 44.6913C61.8776 44.7239 61.8616 44.8382 61.883 44.9416C61.966 45.5526 61.9983 46.1696 61.9795 46.7861C62.0098 47.4833 62.1912 48.1652 62.5109 48.7831C62.8306 49.401 63.2807 49.9397 63.829 50.3608C64.3651 50.7961 64.3651 50.7906 64.081 51.449C63.7682 52.4159 63.5457 53.4106 63.4162 54.4197C63.2497 55.8045 63.3795 57.2094 63.7969 58.5386C63.888 58.8596 64.0971 59.0174 64.333 58.963C64.5688 58.9086 64.7189 58.6637 64.6492 58.3209C64.5796 57.9781 64.5045 57.7224 64.4187 57.4286C63.8605 55.3633 64.0176 53.1661 64.8637 51.2041C64.928 51.0463 65.0245 51.0137 65.1853 50.9865C65.8736 50.9528 66.5621 51.0469 67.2171 51.264C68.1748 51.497 69.1543 51.6247 70.1389 51.6449C70.6795 51.615 71.1972 51.4132 71.6185 51.0681C72.2041 50.5767 72.7426 50.0302 73.2268 49.4358C73.2646 49.4007 73.2895 49.3535 73.2973 49.302C73.3051 49.2506 73.2953 49.198 73.2697 49.1529C73.2442 49.1007 73.1997 49.0607 73.1456 49.0414C73.0916 49.0221 73.0322 49.025 72.9802 49.0495C72.1331 49.3923 71.2754 49.1474 70.423 49.0876C69.4072 48.945 68.3745 48.9855 67.3726 49.2073C66.9156 49.3367 66.4749 49.5193 66.0592 49.7514L65.4802 50.067C65.5935 49.7434 65.7766 49.4497 66.0163 49.2073C66.6542 48.5489 67.3083 47.896 67.9677 47.2594C68.0884 47.1708 68.2273 47.111 68.374 47.0846C68.5207 47.0582 68.6714 47.0659 68.8147 47.1071C69.3508 47.1778 69.8279 47.2812 70.3372 47.3682C70.6053 47.3682 70.8733 47.4335 71.1306 47.4499C71.8215 47.4867 72.5119 47.3699 73.1536 47.1077C73.7953 46.8455 74.3728 46.4442 74.8458 45.9318C74.9881 45.7621 75.1155 45.5801 75.2264 45.3877C75.3488 45.2525 75.4795 45.1253 75.6178 45.0069C75.6607 44.8328 75.5642 44.7566 75.4194 44.7348L74.1006 44.5661C73.5523 44.4981 72.9978 44.4981 72.4494 44.5661C71.8031 44.6627 71.1722 44.8456 70.5731 45.1102C70.3908 45.1973 70.2032 45.2735 70.037 45.3714C69.978 45.4041 69.903 45.4694 69.844 45.3714C69.785 45.2735 69.8815 45.2572 69.9244 45.2082C69.9699 45.1548 70.0182 45.1039 70.0692 45.0558C70.6514 44.3999 71.098 43.6321 71.3826 42.7978C71.4201 42.6672 71.4684 42.5475 71.5113 42.4224C71.5756 42.1177 71.7632 42.2429 71.9294 42.2918C72.4695 42.3975 73.0267 42.3706 73.5545 42.2135C74.0822 42.0564 74.5654 41.7736 74.9637 41.3886C75.5353 40.7777 76.0125 40.0824 76.379 39.3265C76.4862 39.1524 76.5827 38.9728 76.6792 38.7824C76.7115 38.7425 76.7291 38.6925 76.7291 38.6409C76.7291 38.5893 76.7115 38.5394 76.6792 38.4995C76.6429 38.4694 76.5974 38.453 76.5506 38.453C76.5037 38.453 76.4583 38.4694 76.4219 38.4995C76.0668 38.6776 75.6873 38.8005 75.2961 38.864C74.1759 39.0841 73.1446 39.6349 72.3315 40.4473C72.315 40.4791 72.2889 40.5046 72.2571 40.5203C72.2253 40.5359 72.1894 40.5409 72.1546 40.5344L72.3154 39.6693C72.337 39.507 72.3478 39.3434 72.3476 39.1796Z"
                  fill="white"
                />
              </svg>
            </div>
            <p class=" font-display text-display-lg font-bold mb-3">
              {member.name}
            </p>
            <p class=" mb-1.5">
              <span class=" text-brand-blue font-semibold">Job title:</span>{" "}
              {member.job}
            </p>
            <p class=" mb-4">
              <span class=" text-brand-blue font-semibold">
                Qualifications:
              </span>{" "}
              {member.qualification}
            </p>
            <p>{member.bio}</p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
