---
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ButtonLink from "../components/ButtonLink.astro";

const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};

console.log(content);
---

<section
  class={`${backgrounds[bg]} bg-cover bg-no-repeat pb-24 pt-20 ${content.background === "white" ? "bg-feature-bg" : ""}`}
>
  <Container>
    <div class="text-center mb-14 mx-auto max-w-[800px]">
      {
        content.tagline && (
          <p class="mb-2 tagline text-brand-blue">{content.tagline}</p>
        )
      }
      <h2>{content.title}</h2>
      {
        content.description && (
          <div class=" mt-5">
            <BlocksRenderer content={content.description} />
          </div>
        )
      }
    </div>
    <div class="flex flex-col gap-10 lg:flex-row justify-between">
      {
        content.Card.map((card, index) => (
          <div class=" lg:w-1/2 w-full py-8 md:py-16 px-5 md:px-10 shadow-lg bg-white rounded-lg">
            <div class=" mb-5 flex flex-col sm:flex-row gap-3 items-start sm:items-center lg:items-start">
              <div class=" w-[30px] h-[42px]">
                {" "}
                {index === 0 ? (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="42"
                    viewBox="0 0 30 42"
                    fill="none"
                  >
                    <path
                      d="M17.6088 13.9069C17.2009 13.9069 16.8702 13.5719 16.8702 13.1588V8.22168H13.1774V13.1588C13.1774 13.5719 12.8468 13.9069 12.4389 13.9069H7.56445V17.6471H12.4389C12.8468 17.6471 13.1774 17.9821 13.1774 18.3952V23.3323H16.8702V18.3952C16.8702 17.9821 17.2009 17.6471 17.6088 17.6471H22.4832V13.9069H17.6088Z"
                      fill="#00A5E4"
                    />
                    <path
                      d="M29.291 0H0.738563C0.330698 0 1.17776e-05 0.33494 1.17776e-05 0.748052V26.7354C-0.00109605 26.9342 0.0759899 27.1253 0.214191 27.2665L14.4904 41.7787C14.7776 42.072 15.2453 42.074 15.5349 41.783C15.5364 41.7816 15.5378 41.7801 15.5391 41.7787L29.7858 27.259C29.924 27.1178 30.0011 26.9267 30 26.7279V0.748052C30.0004 0.346348 29.6873 0.0160831 29.291 0ZM23.9365 18.3647C23.9365 18.7778 23.6058 19.1127 23.1979 19.1127H18.3235V24.0499C18.3235 24.463 17.9928 24.7979 17.5849 24.7979H12.4151C12.0072 24.7979 11.6765 24.463 11.6765 24.0499V19.1127H6.80207C6.39421 19.1127 6.06352 18.7778 6.06352 18.3647V13.1283C6.06352 12.7152 6.39421 12.3803 6.80207 12.3803H11.6765V7.44312C11.6765 7.03001 12.0072 6.69507 12.4151 6.69507H17.5849C17.9928 6.69507 18.3235 7.03001 18.3235 7.44312V12.3803H23.1979C23.6058 12.3803 23.9365 12.7152 23.9365 13.1283V18.3647Z"
                      fill="#00A5E4"
                    />
                  </svg>
                ) : (
                  ""
                )}
                {index === 1 ? (
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="42"
                    viewBox="0 0 30 42"
                    fill="none"
                  >
                    <path
                      d="M17.6088 13.9069C17.2009 13.9069 16.8702 13.5719 16.8702 13.1588V8.22168H13.1774V13.1588C13.1774 13.5719 12.8468 13.9069 12.4389 13.9069H7.56445V17.6471H12.4389C12.8468 17.6471 13.1774 17.9821 13.1774 18.3952V23.3323H16.8702V18.3952C16.8702 17.9821 17.2009 17.6471 17.6088 17.6471H22.4832V13.9069H17.6088Z"
                      fill="#91B490"
                    />
                    <path
                      d="M29.291 0H0.738563C0.330698 0 1.17776e-05 0.33494 1.17776e-05 0.748052V26.7354C-0.00109605 26.9342 0.0759899 27.1253 0.214191 27.2665L14.4904 41.7787C14.7776 42.072 15.2453 42.074 15.5349 41.783C15.5364 41.7816 15.5378 41.7801 15.5391 41.7787L29.7858 27.259C29.924 27.1178 30.0011 26.9267 30 26.7279V0.748052C30.0004 0.346348 29.6873 0.0160831 29.291 0ZM23.9365 18.3647C23.9365 18.7778 23.6058 19.1127 23.1979 19.1127H18.3235V24.0499C18.3235 24.463 17.9928 24.7979 17.5849 24.7979H12.4151C12.0072 24.7979 11.6765 24.463 11.6765 24.0499V19.1127H6.80207C6.39421 19.1127 6.06352 18.7778 6.06352 18.3647V13.1283C6.06352 12.7152 6.39421 12.3803 6.80207 12.3803H11.6765V7.44312C11.6765 7.03001 12.0072 6.69507 12.4151 6.69507H17.5849C17.9928 6.69507 18.3235 7.03001 18.3235 7.44312V12.3803H23.1979C23.6058 12.3803 23.9365 12.7152 23.9365 13.1283V18.3647Z"
                      fill="#91B490"
                    />
                  </svg>
                ) : (
                  ""
                )}
              </div>

              <p class=" font-display text-display-lg font-bold">
                {card.title}
              </p>
            </div>
            <BlocksRenderer content={card.description} />
          </div>
        ))
      }
    </div>
    {
      content.button && (
        <div class="mt-6 mx-auto">
          <ButtonLink
            button={content.button}
            target={content.button.target}
            variant={content.button.type}
          />
        </div>
      )
    }
  </Container>
</section>
