---
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import { Image } from "astro:assets";
import DecoratedText from "../components/DecoratedText";
import ButtonLink from "../components/ButtonLink.astro";
import Modal from "../components/Modal";

const { content } = Astro.props;

const layout = content.layout;

const layouts = {
  "image-content": "md:flex-row ",
  "content-image": "md:flex-row-reverse  ",
};

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
  "gray-decorated": "bg-gray bg-feature-bg bg-right-botton bg-cover",
  "white-decorated": "bg-white bg-feature-bg bg-right-botton bg-cover",
};
---

<section class=`${backgrounds[bg]}`>
  <Container classes="py-20 relative">
    <div
      class=`flex flex-col gap-8 lg:gap-16 items-center md:items-start lg:items-center   ${layouts[layout]}`
    >
      <div class="w-full md:w-1/2">
        {
          content.image && (
            <Image
              src={content.image.data.attributes.url}
              inferSize
              alt={content.title}
              class="w-full h-full object-cover border-12 rounded-3xl border-brand-yellow"
            />
          )
        }
      </div>
      <div class="w-full md:w-1/2">
        <p class="tagline mb-2">{content.tagline}</p>
        <h2 class="mb-5">
          <DecoratedText content={content.title} />
        </h2>
        <BlocksRenderer content={content.description} />
        <div class="mt-8">
          {
            content.button && (
              <>
                {content.button.type === "modal" ? (
                  <Modal buttonText={content.button.text} client:load />
                ) : (
                  <ButtonLink
                    button={content.button}
                    variant={content.button.type}
                  />
                )}
              </>
            )
          }
        </div>
      </div>
    </div>
    {
      content.decoration && (
        <>
          <div class="bg-brand-blue w-[250px] h-6 absolute top-0 right-0" />
          <div class="bg-brand-yellow w-[250px] h-6 absolute bottom-0 right-0" />
        </>
      )
    }
  </Container>
</section>
