---
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};

console.log(content);
---

<section
  class=` ${backgrounds[bg]} text-center bg-section-bg bg-cover bg-no-repeat pt-20 pb-24`
>
  <Container>
    {
      content.tagline && (
        <p class="mb-2 tagline text-brand-blue">{content.tagline}</p>
      )
    }
    <h2 class="mb-5">{content.title}</h2>
    <BlocksRenderer content={content.description} />
    <div class="mt-14 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        content.cards.map((card) => (
          <div class=" bg-white shadow-lg rounded-lg px-5 sm:px-7 py-14 text-left">
            <div class=" flex flex-row items-center gap-3 mb-5">
              <div class=" w-[30px] h-[42px]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="31"
                  height="42"
                  viewBox="0 0 31 42"
                  fill="none"
                >
                  <path
                    d="M17.9427 13.9079C17.5349 13.9079 17.2042 13.5729 17.2042 13.1598V8.22266H13.5114V13.1598C13.5114 13.5729 13.1807 13.9079 12.7729 13.9079H7.89844V17.6481H12.7729C13.1807 17.6481 13.5114 17.9831 13.5114 18.3962V23.3333H17.2042V18.3962C17.2042 17.9831 17.5349 17.6481 17.9427 17.6481H22.8172V13.9079H17.9427Z"
                    fill="#00A5E4"
                  />
                  <path
                    d="M29.625 0H1.07255C0.664682 0 0.333996 0.33494 0.333996 0.748052V26.7354C0.332888 26.9342 0.409974 27.1253 0.548176 27.2665L14.8244 41.7787C15.1116 42.072 15.5793 42.074 15.8689 41.783C15.8704 41.7816 15.8717 41.7801 15.8731 41.7787L30.1198 27.259C30.258 27.1178 30.3351 26.9267 30.334 26.7279V0.748052C30.3343 0.346348 30.0213 0.0160831 29.625 0ZM24.2705 18.3647C24.2705 18.7778 23.9398 19.1127 23.5319 19.1127H18.6575V24.0499C18.6575 24.463 18.3268 24.7979 17.9189 24.7979H12.7491C12.3412 24.7979 12.0105 24.463 12.0105 24.0499V19.1127H7.13606C6.72819 19.1127 6.39751 18.7778 6.39751 18.3647V13.1283C6.39751 12.7152 6.72819 12.3803 7.13606 12.3803H12.0105V7.44312C12.0105 7.03001 12.3412 6.69507 12.7491 6.69507H17.9189C18.3268 6.69507 18.6575 7.03001 18.6575 7.44312V12.3803H23.5319C23.9398 12.3803 24.2705 12.7152 24.2705 13.1283V18.3647Z"
                    fill="#00A5E4"
                  />
                </svg>
              </div>
              <p class=" font-display text-display-md font-bold">
                {card.title}
              </p>
            </div>
            <BlocksRenderer content={card.description} />
          </div>
        ))
      }
    </div>
  </Container>
</section>
