---
import ButtonLink from "../components/ButtonLink.astro";
import DecoratedText from "../components/DecoratedText";
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import { Image } from "astro:assets";
const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};
---

<section class=`${backgrounds[bg]}`>
  <Container
    classes="py-16 relative flex flex-col-reverse lg:flex-row gap-8 lg:gap-12 xl:gap-16 items-start lg:items-center "
  >
    <div class="lg:w-1/2 w-full">
      <Image
        class=""
        src={content.image.data.attributes.url}
        alt=""
        inferSize
      />
    </div>

    <div class="lg:w-1/2 md:max-w-3xl">
      <p class="tagline mb-2">{content.tagline}</p>

      <h2 class="mb-5"><DecoratedText content={content.title} /></h2>
      <div class="mb-6"><BlocksRenderer content={content.description} /></div>

      <ButtonLink button={content.button} variant={content.button.type} />
    </div>

    <div
      class="bg-brand-blue w-1/4 lg:w-[250px] h-4 lg:h-6 absolute top-0 right-2 lg:right-4"
    >
    </div>
    <div
      class="bg-brand-yellow w-1/4 lg:w-[250px] h-4 lg:h-6 absolute bottom-0 right-2 lg:right-4"
    >
    </div>
  </Container>
</section>
