---
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};

console.log(content);
---

<section class=` ${backgrounds[bg]} `>
  <Container classes="relative py-[120px] ">
    <div class="flex flex-col gap-20 overflow-hidden md:overflow-visible">
      {
        content.list.map((item, index) => (
          <div class=" flex flex-col md:flex-row gap-10 md:gap-20 items-start md:items-center">
            <div class=" z-0 relative py-10 md:pl-36 w-full lg:w-1/3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="81"
                height="80"
                viewBox="0 0 81 80"
                fill="none"
                class=" absolute top-0 right-0 md:right-auto md:left-0"
              >
                <path
                  d="M26.7788 56.627V64.9667H35.1252V71.2249H26.7788V79.5647H20.5273V71.2249H12.1875V64.9667H20.5273V56.627H26.7788Z"
                  fill="#91B490"
                />
                <path
                  d="M11.4043 0V6.51579H17.9201V11.4043H11.4043V17.9201H6.51579V11.4043H0V6.51579H6.51579V0H11.4043Z"
                  fill="#91B490"
                />
                <path
                  d="M69.5352 16.4863V27.6909H81.0003V36.0977H69.5352V47.3089H60.9329V36.0977H49.4609V27.6909H60.9329V16.4863H69.5352Z"
                  fill="#FDC72F"
                />
                <path
                  d="M28.9128 34.1674V30.1055H24.851V34.1674H20.7891V38.2293H24.851V42.2911H28.9128V38.2293H32.9747V34.1674H28.9128Z"
                  fill="#91B490"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="104"
                height="55"
                viewBox="0 0 104 55"
                fill="none"
                class=" absolute right-0 bottom-0"
              >
                <path
                  d="M25.649 39V44.5418H31.1952V48.7003H25.649V54.2421H21.4949V48.7003H15.9531V44.5418H21.4949V39H25.649Z"
                  fill="#91B490"
                />
                <path
                  d="M37.4219 0V4.32974H41.7517V7.57817H37.4219V11.9079H34.1735V7.57817H29.8438V4.32974H34.1735V0H37.4219Z"
                  fill="#91B490"
                />
                <path
                  d="M54.0581 18.084V25.5294H61.6767V31.1157H54.0581V38.5656H48.3419V31.1157H40.7188V25.5294H48.3419V18.084H54.0581Z"
                  fill="#FDC72F"
                />
                <path
                  d="M27.0623 29.8319V27.1328H24.3632V29.8319H21.6641V32.5311H24.3632V35.2302H27.0623V32.5311H29.7614V29.8319H27.0623Z"
                  fill="#91B490"
                />
                <path
                  d="M5.39825 29.4003V26.7012H2.69913V29.4003H0V32.0994H2.69913V34.7985H5.39825V32.0994H8.09738V29.4003H5.39825Z"
                  fill="#FDC72F"
                />
                <path
                  d="M69 20.9231H79.9231V10H93.0946V20.9231H104V34.0769H93.0769V45H79.9231V34.0769H69V20.9231Z"
                  fill="#00A5E4"
                  fill-opacity="0.45"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="136"
                height="154"
                viewBox="0 0 136 154"
                fill="none"
                class=" absolute top-1/2 left-40 md:left-20 -translate-y-1/2"
              >
                <path
                  d="M88.2683 48.0525V0H30.7082V48.0525H0V105.924H30.7082V154H88.2683V105.924H136V48.0525H88.2683Z"
                  fill="#91B490"
                  fill-opacity="0.35"
                />
              </svg>
              {index / 2 === 0 ? (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="95"
                  height="85"
                  viewBox="0 0 95 85"
                  fill="none"
                  class=" absolute bottom-0 left-0"
                >
                  <path
                    opacity="0.8"
                    d="M24.5832 47.0648L32.7687 33.0592L24.5832 19.0625H8.20337L0 33.0592L8.20337 47.0648H24.5832Z"
                    fill="#FDC72F"
                  />
                  <path
                    opacity="0.5"
                    d="M24.5832 78.0511L32.7687 64.05L24.5832 50.0488H8.20337L0 64.05L8.20337 78.0511H24.5832Z"
                    fill="#FDC72F"
                  />
                  <path
                    opacity="0.3"
                    d="M50.94 62.559L58.9854 48.5534L50.94 34.5566H34.8579L26.8125 48.5534L34.8579 62.559H50.94Z"
                    fill="#FDC72F"
                  />
                  <path
                    opacity="0.5"
                    d="M77.5977 78.0511L85.7921 64.05L77.5977 50.0488H61.2178L53.0234 64.05L61.2178 78.0511H77.5977Z"
                    fill="#FDC72F"
                  />
                  <path
                    d="M39.5962 0V8.66527H48.2614V15.1665H39.5962V23.8318H33.095V15.1665H24.4297V8.66527H33.095V0H39.5962Z"
                    fill="#FDC72F"
                  />
                  <path
                    d="M92.8268 79.9904C92.5187 79.9779 92.2122 80.0388 91.9327 80.168L84.0645 66.7535C84.3614 66.5334 84.6012 66.2462 84.7642 65.9157C84.9271 65.5853 85.0084 65.2211 85.0014 64.8532C84.9945 64.4853 84.8993 64.1244 84.724 63.8003C84.5486 63.4762 84.298 63.1982 83.993 62.9893L91.9327 49.2552C92.1755 49.3593 92.4371 49.4136 92.7016 49.415C93.2028 49.4266 93.6899 49.2503 94.066 48.9212C94.4422 48.5922 94.6797 48.1346 94.7312 47.6394V47.1689C94.6733 46.6875 94.4425 46.243 94.0812 45.9169C93.7199 45.5908 93.2523 45.4049 92.7642 45.3933C92.454 45.3898 92.1475 45.4598 91.8701 45.5975L84.3059 32.6891C84.7226 32.4073 85.0637 32.0287 85.2995 31.5862C85.5352 31.1437 85.6584 30.6506 85.6584 30.15C85.6584 29.6494 85.5352 29.1564 85.2995 28.7139C85.0637 28.2713 84.7226 27.8927 84.3059 27.611L91.7985 14.596C92.0186 14.6806 92.2512 14.7286 92.487 14.738C92.7524 14.7427 93.0161 14.6954 93.263 14.5989C93.51 14.5024 93.7354 14.3585 93.9263 14.1755C94.1173 13.9925 94.2701 13.7739 94.376 13.5323C94.4819 13.2906 94.5388 13.0306 94.5435 12.7671C94.5482 12.5037 94.5006 12.2418 94.4033 11.9966C94.3061 11.7514 94.1612 11.5276 93.9769 11.338C93.7926 11.1484 93.5725 10.9967 93.3291 10.8915C93.0857 10.7864 92.8239 10.7299 92.5585 10.7252C92.2759 10.7181 91.9951 10.7726 91.736 10.885L91.3247 11.1247C91.0656 11.3136 90.8559 11.5613 90.7131 11.8471C90.5702 12.1329 90.4985 12.4485 90.5037 12.7676C90.509 13.0866 90.5911 13.3998 90.7433 13.6808C90.8954 13.9618 91.1132 14.2026 91.3783 14.3829L83.8857 27.3624C83.4333 27.1468 82.9346 27.0444 82.4332 27.0641C81.9318 27.0838 81.4429 27.225 81.009 27.4754C80.5752 27.7258 80.2097 28.0777 79.9443 28.5006C79.679 28.9235 79.5218 29.4044 79.4866 29.9014L65.1093 29.9547C65.069 29.2705 64.7705 28.6265 64.2734 28.151C63.7763 27.6755 63.117 27.4035 62.427 27.389C61.991 27.3832 61.5596 27.4774 61.1663 27.6642L53.4232 14.5427C53.68 14.3574 53.8889 14.1144 54.033 13.8336C54.1771 13.5528 54.2522 13.2421 54.2522 12.9269C54.2522 12.6118 54.1771 12.3011 54.033 12.0203C53.8889 11.7395 53.68 11.4965 53.4232 11.3112L53.012 11.0892C52.7823 10.9941 52.5365 10.9429 52.2877 10.9383C52.0224 10.933 51.7586 10.9798 51.5114 11.0757C51.2642 11.1717 51.0385 11.3151 50.8471 11.4977C50.6557 11.6803 50.5024 11.8986 50.396 12.14C50.2896 12.3814 50.2321 12.6413 50.2268 12.9047C50.2215 13.1682 50.2685 13.4302 50.3652 13.6756C50.4619 13.921 50.6063 14.1452 50.7902 14.3352C50.9741 14.5252 51.1939 14.6774 51.437 14.7831C51.6802 14.8888 51.9419 14.9459 52.2072 14.9511C52.4931 14.9519 52.7761 14.8945 53.0388 14.7824L60.7192 27.9483C60.3662 28.2062 60.0808 28.5445 59.8869 28.9347C59.6931 29.325 59.5965 29.7558 59.6052 30.1908C59.614 30.6258 59.7279 31.0524 59.9373 31.4347C60.1467 31.8169 60.4455 32.1436 60.8086 32.3873L53.4858 45.0915C53.0892 44.9248 52.6586 44.8535 52.229 44.8833C51.7994 44.913 51.3829 45.0431 51.0134 45.2628C50.644 45.4826 50.332 45.7858 50.1029 46.1479C49.8737 46.51 49.7339 46.9206 49.6948 47.3465L34.8257 47.4086C34.7621 46.7419 34.4535 46.1217 33.9587 45.6665C33.464 45.2113 32.8178 44.9529 32.1434 44.9406C31.7335 44.9362 31.3276 45.0211 30.9542 45.1892L23.3632 32.2452C23.6678 32.0085 23.9086 31.7006 24.0642 31.349C24.2198 30.9974 24.2853 30.613 24.2548 30.2302C24.2243 29.8473 24.0989 29.4779 23.8896 29.1549C23.6803 28.832 23.3938 28.5655 23.0555 28.3792C22.7172 28.193 22.3378 28.0928 21.9511 28.0876C21.5643 28.0824 21.1823 28.1724 20.8391 28.3496C20.4959 28.5267 20.2022 28.7854 19.9843 29.1027C19.7663 29.42 19.6309 29.7859 19.59 30.1678V30.6117C19.6405 31.182 19.901 31.7137 20.3217 32.1052C20.7423 32.4967 21.2936 32.7204 21.87 32.7335C22.252 32.7356 22.629 32.6474 22.9698 32.476L30.5518 45.3933C30.183 45.6425 29.8812 45.9774 29.6725 46.3689C29.4639 46.7603 29.3549 47.1965 29.3549 47.6394C29.3549 48.0824 29.4639 48.5186 29.6725 48.91C29.8812 49.3015 30.183 49.6364 30.5518 49.8856L23.2648 62.572C22.929 62.4133 22.5636 62.3256 22.1919 62.3146C21.4856 62.3019 20.8018 62.561 20.2835 63.0375C19.7652 63.5141 19.4526 64.1712 19.4112 64.8714L4.00565 64.9336C3.97868 64.43 3.76092 63.9553 3.39608 63.6046C3.03124 63.2538 2.54631 63.0531 2.0386 63.0426C1.72845 63.039 1.42192 63.109 1.14449 63.2468L0.742139 63.5042C0.515049 63.6868 0.330945 63.9165 0.202745 64.1772C0.074545 64.438 0.00535458 64.7234 2.60985e-05 65.0135C-0.00262971 65.5303 0.197501 66.0279 0.558009 66.4008C0.918517 66.7737 1.41107 66.9925 1.93131 67.011C2.41029 67.0225 2.87756 66.8631 3.24831 66.5617C3.61906 66.2604 3.86872 65.8371 3.952 65.3686L19.3933 65.3153C19.443 65.7435 19.5945 66.1538 19.8355 66.5123C20.0764 66.8708 20.3998 67.1673 20.7789 67.3772C21.158 67.5871 21.582 67.7044 22.0158 67.7195C22.4496 67.7345 22.8808 67.6469 23.2738 67.4638L30.9631 80.5675C30.6628 80.7937 30.4242 81.0908 30.269 81.4319C30.1137 81.773 30.0468 82.1471 30.0742 82.5204C30.1017 82.8937 30.2226 83.2542 30.4261 83.5693C30.6295 83.8844 30.909 84.144 31.2392 84.3245C31.5694 84.505 31.9398 84.6008 32.3168 84.603C32.6937 84.6053 33.0652 84.5139 33.3976 84.3374C33.7299 84.1608 34.0126 83.9045 34.2198 83.5919C34.4271 83.2793 34.5524 82.9202 34.5843 82.5473V82.1034C34.5138 81.5703 34.253 81.0801 33.8494 80.7217C33.4458 80.3633 32.9261 80.1605 32.3848 80.1502C32.0351 80.1531 31.6902 80.2318 31.3744 80.3811L23.6851 67.2684C24.0413 67.0164 24.3316 66.6834 24.532 66.2974C24.7323 65.9113 24.8368 65.4833 24.8368 65.049C24.8368 64.6147 24.7323 64.1867 24.532 63.8006C24.3316 63.4145 24.0413 63.0816 23.6851 62.8295L31.0168 50.143C31.3395 50.2895 31.6902 50.3652 32.045 50.365C32.742 50.3763 33.4173 50.1238 33.9337 49.6589C34.4501 49.1939 34.769 48.5513 34.8257 47.8614L49.6859 47.7993C49.741 48.4732 50.0456 49.1031 50.541 49.5671C51.0364 50.0311 51.6873 50.2963 52.3682 50.3117C52.7484 50.3306 53.1285 50.2732 53.4858 50.143L60.8623 62.723L61.0768 63.087C60.7836 63.2988 60.5432 63.5746 60.3743 63.8933C60.2053 64.2119 60.1122 64.5647 60.1023 64.9247C60.0969 65.2955 60.181 65.6623 60.3474 65.9943C60.5138 66.3263 60.7578 66.6141 61.059 66.8334L61.5328 67.011C61.8143 67.1384 62.1179 67.2108 62.427 67.2241C63.0168 67.2312 63.5878 67.0179 64.0267 66.6265C64.4656 66.2351 64.7403 65.6942 64.7964 65.1111L80.3092 65.0756C80.3494 65.6545 80.6069 66.1973 81.0307 66.5967C81.4545 66.9962 82.0139 67.2232 82.5981 67.2329C82.9573 67.2379 83.3126 67.1588 83.6353 67.0021L91.5035 80.4166C91.2631 80.5981 91.0673 80.8315 90.931 81.099C90.7947 81.3666 90.7214 81.6615 90.7167 81.9613C90.6864 82.4795 90.8604 82.989 91.2019 83.3819C91.5434 83.7749 92.0255 84.0204 92.5461 84.0666C93.0668 84.1128 93.5851 83.9559 93.9913 83.6292C94.3974 83.3026 94.6596 82.8317 94.7223 82.3165V81.8459C94.6863 81.3611 94.4743 80.9058 94.1257 80.5645C93.7771 80.2232 93.3155 80.0192 92.8268 79.9904ZM91.0386 12.6872C91.0439 12.3835 91.1398 12.0882 91.3142 11.8387C91.4886 11.5891 91.7335 11.3964 92.0182 11.2851C92.3028 11.1738 92.6143 11.1487 92.9132 11.2132C93.2122 11.2776 93.4852 11.4286 93.6977 11.6471C93.9102 11.8655 94.0527 12.1417 94.1072 12.4406C94.1617 12.7395 94.1257 13.0477 94.0038 13.3263C93.8818 13.6048 93.6795 13.8413 93.4222 14.0056C93.165 14.17 92.8644 14.255 92.5585 14.2498C92.349 14.2557 92.1404 14.2196 91.9452 14.1436C91.7501 14.0675 91.5725 13.9531 91.423 13.8071C91.2735 13.6612 91.1553 13.4868 91.0754 13.2943C90.9955 13.1019 90.9556 12.8954 90.9581 12.6872H91.0386ZM52.2788 14.4628C52.0664 14.4748 51.8537 14.4431 51.6542 14.3697C51.4546 14.2964 51.2725 14.183 51.1191 14.0365C50.9657 13.8901 50.8444 13.7138 50.7628 13.5188C50.6812 13.3237 50.6409 13.1139 50.6446 12.9027C50.6483 12.6915 50.6959 12.4833 50.7843 12.2911C50.8727 12.099 51.0001 11.927 51.1585 11.7859C51.317 11.6449 51.503 11.5378 51.7049 11.4714C51.9069 11.405 52.1205 11.3807 52.3324 11.3999C52.5449 11.388 52.7575 11.4197 52.957 11.493C53.1566 11.5664 53.3387 11.6798 53.4921 11.8262C53.6455 11.9726 53.7668 12.1489 53.8484 12.344C53.93 12.5391 53.9703 12.7488 53.9666 12.9601C53.9629 13.1713 53.9153 13.3795 53.8269 13.5717C53.7385 13.7638 53.6111 13.9358 53.4527 14.0768C53.2943 14.2179 53.1082 14.325 52.9063 14.3914C52.7043 14.4578 52.4907 14.4821 52.2788 14.4628ZM21.87 32.2896C21.4988 32.2825 21.1379 32.1663 20.8332 31.9556C20.5285 31.7449 20.2935 31.4492 20.158 31.106C20.0225 30.7627 19.9925 30.3872 20.0719 30.027C20.1513 29.6669 20.3364 29.3381 20.604 29.0824C20.8715 28.8267 21.2094 28.6555 21.5749 28.5905C21.9404 28.5254 22.3171 28.5694 22.6574 28.717C22.9977 28.8645 23.2863 29.1089 23.4868 29.4193C23.6872 29.7297 23.7904 30.0921 23.7834 30.4608C23.7788 30.7056 23.7256 30.9471 23.6269 31.1716C23.5282 31.396 23.386 31.5989 23.2083 31.7688C23.0306 31.9386 22.821 32.072 22.5913 32.1614C22.3617 32.2507 22.1166 32.2943 21.87 32.2896ZM1.94025 66.5849C1.53155 66.5755 1.14319 66.4059 0.86005 66.1131C0.576905 65.8204 0.422003 65.4282 0.4292 65.0223C0.431511 64.8203 0.474186 64.6207 0.554753 64.4351C0.635321 64.2496 0.752179 64.0818 0.898552 63.9414C1.04493 63.801 1.2179 63.6909 1.40746 63.6173C1.59702 63.5438 1.79939 63.5084 2.00284 63.5131C2.41153 63.5224 2.79989 63.692 3.08304 63.9848C3.36618 64.2776 3.52108 64.6698 3.51389 65.0756C3.5104 65.2773 3.46692 65.4764 3.38594 65.6614C3.30496 65.8464 3.18807 66.0138 3.04194 66.1539C2.8958 66.2941 2.7233 66.4042 2.53427 66.4782C2.34524 66.5521 2.14339 66.5884 1.94025 66.5849ZM32.3401 80.5941C32.6937 80.5941 33.0395 80.6983 33.3336 80.8934C33.6276 81.0885 33.8568 81.3658 33.9922 81.6902C34.1275 82.0147 34.1629 82.3717 34.0939 82.7161C34.0249 83.0605 33.8546 83.3769 33.6045 83.6252C33.3545 83.8736 33.0358 84.0427 32.6889 84.1112C32.3421 84.1797 31.9825 84.1445 31.6557 84.0101C31.329 83.8757 31.0497 83.6482 30.8532 83.3562C30.6567 83.0642 30.5518 82.7209 30.5518 82.3697C30.5518 82.1343 30.5989 81.9012 30.6905 81.684C30.782 81.4668 30.9162 81.2699 31.0851 81.1047C31.254 80.9395 31.4543 80.8092 31.6743 80.7216C31.8944 80.6339 32.1298 80.5906 32.3669 80.5941H32.3401ZM24.3825 65.0756C24.3751 65.5234 24.2336 65.9588 23.9761 66.3264C23.7185 66.694 23.3566 66.9772 22.9363 67.1398C22.5161 67.3024 22.0567 67.3371 21.6165 67.2394C21.1764 67.1418 20.7755 66.9162 20.4649 66.5915C20.1543 66.2668 19.9482 65.8576 19.8727 65.4161C19.7972 64.9746 19.8559 64.5208 20.0411 64.1125C20.2264 63.7042 20.5298 63.3599 20.9129 63.1235C21.2959 62.8871 21.7412 62.7693 22.1919 62.7851C22.7864 62.806 23.3489 63.0576 23.7586 63.4859C24.1682 63.9142 24.3922 64.485 24.3825 65.0756ZM32.0271 49.9122C31.5777 49.9051 31.1404 49.7657 30.7708 49.5117C30.4012 49.2576 30.1158 48.9004 29.9508 48.4852C29.7858 48.07 29.7486 47.6156 29.8439 47.1794C29.9392 46.7432 30.1628 46.3449 30.4862 46.0349C30.8097 45.725 31.2185 45.5173 31.6609 45.4382C32.1033 45.3591 32.5594 45.4122 32.9714 45.5906C33.3834 45.7691 33.7328 46.065 33.9754 46.4408C34.218 46.8165 34.3427 47.2553 34.3339 47.7016C34.3293 47.9973 34.2659 48.2892 34.1473 48.5606C34.0287 48.8319 33.8574 49.0773 33.643 49.2827C33.4287 49.4881 33.1756 49.6494 32.8983 49.7575C32.621 49.8655 32.325 49.9181 32.0271 49.9122ZM92.7284 45.8461C93.0347 45.8515 93.3324 45.947 93.5839 46.1205C93.8354 46.2941 94.0294 46.5379 94.1412 46.821C94.253 47.1041 94.2777 47.4138 94.2121 47.7109C94.1464 48.0079 93.9935 48.2789 93.7725 48.4896C93.5516 48.7002 93.2727 48.841 92.9711 48.8941C92.6695 48.9471 92.3589 48.9101 92.0785 48.7877C91.7981 48.6653 91.5607 48.4629 91.3962 48.2064C91.2318 47.9498 91.1478 47.6505 91.1548 47.3465C91.1582 47.1429 91.2026 46.942 91.2853 46.7557C91.3681 46.5693 91.4876 46.4013 91.6367 46.2615C91.7858 46.1217 91.9616 46.013 92.1537 45.9416C92.3458 45.8703 92.5503 45.8378 92.7552 45.8461H92.7284ZM82.5981 27.5399C83.1131 27.554 83.6124 27.7191 84.0331 28.0143C84.4538 28.3095 84.7771 28.7217 84.9624 29.199C85.1477 29.6763 85.1866 30.1974 85.0742 30.6966C84.9619 31.1958 84.7033 31.6509 84.331 32.0045C83.9588 32.3581 83.4895 32.5944 82.9822 32.6838C82.475 32.7731 81.9524 32.7115 81.4804 32.5066C81.0084 32.3017 80.608 31.9627 80.3295 31.5323C80.0511 31.1019 79.9072 30.5993 79.9158 30.0879C79.9216 29.7451 79.9958 29.4069 80.134 29.0929C80.2723 28.7788 80.472 28.4951 80.7214 28.2581C80.9709 28.0211 81.2652 27.8356 81.5873 27.7124C81.9095 27.5891 82.253 27.5305 82.5981 27.5399ZM60.0576 30.0701C60.07 29.6251 60.2148 29.1937 60.4738 28.8303C60.7327 28.4669 61.0942 28.1877 61.5127 28.0279C61.9312 27.8682 62.3879 27.835 62.8254 27.9325C63.2629 28.0301 63.6614 28.254 63.9709 28.5761C64.2804 28.8982 64.487 29.3041 64.5645 29.7426C64.6421 30.181 64.5872 30.6325 64.4068 31.04C64.2264 31.4476 63.9285 31.793 63.5508 32.0328C63.173 32.2725 62.7322 32.3958 62.2839 32.3873C61.9845 32.3803 61.6893 32.3149 61.4154 32.1947C61.1414 32.0745 60.894 31.9019 60.6872 31.6867C60.4805 31.4715 60.3184 31.218 60.2104 30.9406C60.1024 30.6632 60.0504 30.3674 60.0576 30.0701ZM52.3861 49.85C51.9366 49.8429 51.4994 49.7035 51.1298 49.4495C50.7601 49.1955 50.4748 48.8383 50.3098 48.4231C50.1448 48.0079 50.1076 47.5534 50.2029 47.1172C50.2982 46.681 50.5217 46.2827 50.8452 45.9728C51.1686 45.6628 51.5774 45.4552 52.0198 45.3761C52.4622 45.297 52.9183 45.35 53.3304 45.5285C53.7424 45.707 54.0918 46.0028 54.3343 46.3786C54.5769 46.7544 54.7017 47.1932 54.6929 47.6394C54.6882 47.9352 54.6248 48.2271 54.5062 48.4984C54.3877 48.7698 54.2163 49.0152 54.002 49.2206C53.7876 49.426 53.5345 49.5873 53.2572 49.6953C52.9799 49.8033 52.6839 49.8559 52.3861 49.85ZM62.427 66.7802C62.0553 66.7748 61.6936 66.6601 61.3876 66.4504C61.0817 66.2408 60.8453 65.9457 60.7084 65.6025C60.5715 65.2594 60.5403 64.8836 60.6187 64.5228C60.6971 64.162 60.8816 63.8325 61.1488 63.5759C61.416 63.3193 61.7539 63.1472 62.1197 63.0815C62.4854 63.0157 62.8626 63.0593 63.2035 63.2066C63.5443 63.3539 63.8334 63.5983 64.0342 63.9089C64.235 64.2195 64.3385 64.5823 64.3314 64.9513C64.322 65.4442 64.1163 65.9134 63.7594 66.2561C63.4025 66.5989 62.9234 66.7873 62.427 66.7802ZM64.7785 64.6672C64.7224 64.1062 64.4631 63.5844 64.0486 63.199C63.6342 62.8136 63.0928 62.5908 62.5253 62.572C62.177 62.5699 61.8323 62.6426 61.515 62.7851L53.9329 49.8767C54.3167 49.6304 54.6323 49.2925 54.8508 48.894C55.0693 48.4954 55.1838 48.0489 55.1838 47.5951C55.1838 47.1413 55.0693 46.6947 54.8508 46.2962C54.6323 45.8976 54.3167 45.5598 53.9329 45.3134L61.2557 32.6092C61.585 32.7548 61.9413 32.8304 62.3018 32.8311C62.9775 32.8474 63.6352 32.6138 64.1473 32.1759C64.6594 31.7379 64.9895 31.1267 65.0735 30.4608L79.4956 30.4075C79.5637 31.1615 79.9099 31.8639 80.4676 32.38C81.0254 32.8961 81.7554 33.1895 82.5177 33.204C82.9967 33.2095 83.4707 33.1062 83.9035 32.9022L91.4856 45.8284C91.2557 46.011 91.0692 46.2418 90.9394 46.5042C90.8096 46.7666 90.7397 47.0542 90.7346 47.3465C90.7324 47.6533 90.8005 47.9566 90.9337 48.2334C91.0669 48.5103 91.2617 48.7534 91.5035 48.9445L83.5459 62.7496C83.285 62.6406 83.0062 62.5804 82.7233 62.572C82.1377 62.5497 81.565 62.7461 81.1181 63.1224C80.6712 63.4988 80.3826 64.0278 80.3092 64.6051L64.7785 64.6672ZM82.6071 66.7624C82.2376 66.7553 81.8785 66.6396 81.5752 66.4299C81.272 66.2202 81.0381 65.9259 80.9033 65.5842C80.7685 65.2426 80.7387 64.8689 80.8177 64.5105C80.8968 64.152 81.0811 63.8248 81.3473 63.5704C81.6136 63.3159 81.9499 63.1456 82.3137 63.0809C82.6774 63.0162 83.0524 63.06 83.391 63.2069C83.7297 63.3537 84.0169 63.597 84.2164 63.9059C84.4158 64.2148 84.5185 64.5756 84.5115 64.9424C84.4998 65.4307 84.2956 65.8949 83.9428 66.2352C83.59 66.5756 83.1168 66.7649 82.625 66.7624H82.6071ZM92.7016 83.5327C92.3957 83.5274 92.0983 83.4322 91.847 83.259C91.5956 83.0859 91.4016 82.8426 91.2895 82.56C91.1774 82.2774 91.1521 81.9681 91.217 81.6713C91.2819 81.3745 91.434 81.1034 91.654 80.8924C91.874 80.6814 92.1522 80.5398 92.4532 80.4858C92.7542 80.4317 93.0646 80.4674 93.3452 80.5885C93.6257 80.7095 93.8638 80.9105 94.0294 81.1659C94.1949 81.4213 94.2805 81.7198 94.2752 82.0235C94.2682 82.4277 94.1009 82.8129 93.8096 83.0954C93.5184 83.378 93.1267 83.5351 92.7195 83.5327H92.7016Z"
                    fill="#FDC72F"
                  />
                  <path
                    d="M75.473 44.6844V39.3223H69.9123V44.6844H64.3516V50.0466H69.9123V55.4087H75.473V50.0466H81.0338V44.6844H75.473Z"
                    fill="#FDC72F"
                  />
                </svg>
              ) : (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="95"
                  height="85"
                  viewBox="0 0 95 85"
                  fill="none"
                  class=" absolute bottom-0 left-0"
                >
                  <path
                    opacity="0.8"
                    d="M24.5832 47.0648L32.7687 33.0592L24.5832 19.0625H8.20337L0 33.0592L8.20337 47.0648H24.5832Z"
                    fill="#00A5E4"
                  />
                  <path
                    opacity="0.5"
                    d="M24.5832 78.0511L32.7687 64.05L24.5832 50.0488H8.20337L0 64.05L8.20337 78.0511H24.5832Z"
                    fill="#00A5E4"
                  />
                  <path
                    opacity="0.3"
                    d="M50.94 62.559L58.9854 48.5534L50.94 34.5566H34.8579L26.8125 48.5534L34.8579 62.559H50.94Z"
                    fill="#00A5E4"
                  />
                  <path
                    opacity="0.5"
                    d="M77.5977 78.0511L85.7921 64.05L77.5977 50.0488H61.2178L53.0234 64.05L61.2178 78.0511H77.5977Z"
                    fill="#00A5E4"
                  />
                  <path
                    d="M39.5962 0V8.66527H48.2614V15.1665H39.5962V23.8318H33.095V15.1665H24.4297V8.66527H33.095V0H39.5962Z"
                    fill="#00A5E4"
                  />
                  <path
                    d="M92.8268 79.9904C92.5187 79.9779 92.2122 80.0388 91.9327 80.168L84.0645 66.7535C84.3614 66.5334 84.6012 66.2462 84.7642 65.9157C84.9271 65.5853 85.0084 65.2211 85.0014 64.8532C84.9945 64.4853 84.8993 64.1244 84.724 63.8003C84.5486 63.4762 84.298 63.1982 83.993 62.9893L91.9327 49.2552C92.1755 49.3593 92.4371 49.4136 92.7016 49.415C93.2028 49.4266 93.6899 49.2503 94.066 48.9212C94.4422 48.5922 94.6797 48.1346 94.7312 47.6394V47.1689C94.6733 46.6875 94.4425 46.243 94.0812 45.9169C93.7199 45.5908 93.2523 45.4049 92.7642 45.3933C92.454 45.3898 92.1475 45.4598 91.8701 45.5975L84.3059 32.6891C84.7226 32.4073 85.0637 32.0287 85.2995 31.5862C85.5352 31.1437 85.6584 30.6506 85.6584 30.15C85.6584 29.6494 85.5352 29.1564 85.2995 28.7139C85.0637 28.2713 84.7226 27.8927 84.3059 27.611L91.7985 14.596C92.0186 14.6806 92.2512 14.7286 92.487 14.738C92.7524 14.7427 93.0161 14.6954 93.263 14.5989C93.51 14.5024 93.7354 14.3585 93.9263 14.1755C94.1173 13.9925 94.2701 13.7739 94.376 13.5323C94.4819 13.2906 94.5388 13.0306 94.5435 12.7671C94.5482 12.5037 94.5006 12.2418 94.4033 11.9966C94.3061 11.7514 94.1612 11.5276 93.9769 11.338C93.7926 11.1484 93.5725 10.9967 93.3291 10.8915C93.0857 10.7864 92.8239 10.7299 92.5585 10.7252C92.2759 10.7181 91.9951 10.7726 91.736 10.885L91.3247 11.1247C91.0656 11.3136 90.8559 11.5613 90.7131 11.8471C90.5702 12.1329 90.4985 12.4485 90.5037 12.7676C90.509 13.0866 90.5911 13.3998 90.7433 13.6808C90.8954 13.9618 91.1132 14.2026 91.3783 14.3829L83.8857 27.3624C83.4333 27.1468 82.9346 27.0444 82.4332 27.0641C81.9318 27.0838 81.4429 27.225 81.009 27.4754C80.5752 27.7258 80.2097 28.0777 79.9443 28.5006C79.679 28.9235 79.5218 29.4044 79.4866 29.9014L65.1093 29.9547C65.069 29.2705 64.7705 28.6265 64.2734 28.151C63.7763 27.6755 63.117 27.4035 62.427 27.389C61.991 27.3832 61.5596 27.4774 61.1663 27.6642L53.4232 14.5427C53.68 14.3574 53.8889 14.1144 54.033 13.8336C54.1771 13.5528 54.2522 13.2421 54.2522 12.9269C54.2522 12.6118 54.1771 12.3011 54.033 12.0203C53.8889 11.7395 53.68 11.4965 53.4232 11.3112L53.012 11.0892C52.7823 10.9941 52.5365 10.9429 52.2877 10.9383C52.0224 10.933 51.7586 10.9798 51.5114 11.0757C51.2642 11.1717 51.0385 11.3151 50.8471 11.4977C50.6557 11.6803 50.5024 11.8986 50.396 12.14C50.2896 12.3814 50.2321 12.6413 50.2268 12.9047C50.2215 13.1682 50.2685 13.4302 50.3652 13.6756C50.4619 13.921 50.6063 14.1452 50.7902 14.3352C50.9741 14.5252 51.1939 14.6774 51.437 14.7831C51.6802 14.8888 51.9419 14.9459 52.2072 14.9511C52.4931 14.9519 52.7761 14.8945 53.0388 14.7824L60.7192 27.9483C60.3662 28.2062 60.0808 28.5445 59.8869 28.9347C59.6931 29.325 59.5965 29.7558 59.6052 30.1908C59.614 30.6258 59.7279 31.0524 59.9373 31.4347C60.1467 31.8169 60.4455 32.1436 60.8086 32.3873L53.4858 45.0915C53.0892 44.9248 52.6586 44.8535 52.229 44.8833C51.7994 44.913 51.3829 45.0431 51.0134 45.2628C50.644 45.4826 50.332 45.7858 50.1029 46.1479C49.8737 46.51 49.7339 46.9206 49.6948 47.3465L34.8257 47.4086C34.7621 46.7419 34.4535 46.1217 33.9587 45.6665C33.464 45.2113 32.8178 44.9529 32.1434 44.9406C31.7335 44.9362 31.3276 45.0211 30.9542 45.1892L23.3632 32.2452C23.6678 32.0085 23.9086 31.7006 24.0642 31.349C24.2198 30.9974 24.2853 30.613 24.2548 30.2302C24.2243 29.8473 24.0989 29.4779 23.8896 29.1549C23.6803 28.832 23.3938 28.5655 23.0555 28.3792C22.7172 28.193 22.3378 28.0928 21.9511 28.0876C21.5643 28.0824 21.1823 28.1724 20.8391 28.3496C20.4959 28.5267 20.2022 28.7854 19.9843 29.1027C19.7663 29.42 19.6309 29.7859 19.59 30.1678V30.6117C19.6405 31.182 19.901 31.7137 20.3217 32.1052C20.7423 32.4967 21.2936 32.7204 21.87 32.7335C22.252 32.7356 22.629 32.6474 22.9698 32.476L30.5518 45.3933C30.183 45.6425 29.8812 45.9774 29.6725 46.3689C29.4639 46.7603 29.3549 47.1965 29.3549 47.6394C29.3549 48.0824 29.4639 48.5186 29.6725 48.91C29.8812 49.3015 30.183 49.6364 30.5518 49.8856L23.2648 62.572C22.929 62.4133 22.5636 62.3256 22.1919 62.3146C21.4856 62.3019 20.8018 62.561 20.2835 63.0375C19.7652 63.5141 19.4526 64.1712 19.4112 64.8714L4.00565 64.9336C3.97868 64.43 3.76092 63.9553 3.39608 63.6046C3.03124 63.2538 2.54631 63.0531 2.0386 63.0426C1.72845 63.039 1.42192 63.109 1.14449 63.2468L0.742139 63.5042C0.515049 63.6868 0.330945 63.9165 0.202745 64.1772C0.074545 64.438 0.00535458 64.7234 2.60985e-05 65.0135C-0.00262971 65.5303 0.197501 66.0279 0.558009 66.4008C0.918517 66.7737 1.41107 66.9925 1.93131 67.011C2.41029 67.0225 2.87756 66.8631 3.24831 66.5617C3.61906 66.2604 3.86872 65.8371 3.952 65.3686L19.3933 65.3153C19.443 65.7435 19.5945 66.1538 19.8355 66.5123C20.0764 66.8708 20.3998 67.1673 20.7789 67.3772C21.158 67.5871 21.582 67.7044 22.0158 67.7195C22.4496 67.7345 22.8808 67.6469 23.2738 67.4638L30.9631 80.5675C30.6628 80.7937 30.4242 81.0908 30.269 81.4319C30.1137 81.773 30.0468 82.1471 30.0742 82.5204C30.1017 82.8937 30.2226 83.2542 30.4261 83.5693C30.6295 83.8844 30.909 84.144 31.2392 84.3245C31.5694 84.505 31.9398 84.6008 32.3168 84.603C32.6937 84.6053 33.0652 84.5139 33.3976 84.3374C33.7299 84.1608 34.0126 83.9045 34.2198 83.5919C34.4271 83.2793 34.5524 82.9202 34.5843 82.5473V82.1034C34.5138 81.5703 34.253 81.0801 33.8494 80.7217C33.4458 80.3633 32.9261 80.1605 32.3848 80.1502C32.0351 80.1531 31.6902 80.2318 31.3744 80.3811L23.6851 67.2684C24.0413 67.0164 24.3316 66.6834 24.532 66.2974C24.7323 65.9113 24.8368 65.4833 24.8368 65.049C24.8368 64.6147 24.7323 64.1867 24.532 63.8006C24.3316 63.4145 24.0413 63.0816 23.6851 62.8295L31.0168 50.143C31.3395 50.2895 31.6902 50.3652 32.045 50.365C32.742 50.3763 33.4173 50.1238 33.9337 49.6589C34.4501 49.1939 34.769 48.5513 34.8257 47.8614L49.6859 47.7993C49.741 48.4732 50.0456 49.1031 50.541 49.5671C51.0364 50.0311 51.6873 50.2963 52.3682 50.3117C52.7484 50.3306 53.1285 50.2732 53.4858 50.143L60.8623 62.723L61.0768 63.087C60.7836 63.2988 60.5432 63.5746 60.3743 63.8933C60.2053 64.2119 60.1122 64.5647 60.1023 64.9247C60.0969 65.2955 60.181 65.6623 60.3474 65.9943C60.5138 66.3263 60.7578 66.6141 61.059 66.8334L61.5328 67.011C61.8143 67.1384 62.1179 67.2108 62.427 67.2241C63.0168 67.2312 63.5878 67.0179 64.0267 66.6265C64.4656 66.2351 64.7403 65.6942 64.7964 65.1111L80.3092 65.0756C80.3494 65.6545 80.6069 66.1973 81.0307 66.5967C81.4545 66.9962 82.0139 67.2232 82.5981 67.2329C82.9573 67.2379 83.3126 67.1588 83.6353 67.0021L91.5035 80.4166C91.2631 80.5981 91.0673 80.8315 90.931 81.099C90.7947 81.3666 90.7214 81.6615 90.7167 81.9613C90.6864 82.4795 90.8604 82.989 91.2019 83.3819C91.5434 83.7749 92.0255 84.0204 92.5461 84.0666C93.0668 84.1128 93.5851 83.9559 93.9913 83.6292C94.3974 83.3026 94.6596 82.8317 94.7223 82.3165V81.8459C94.6863 81.3611 94.4743 80.9058 94.1257 80.5645C93.7771 80.2232 93.3155 80.0192 92.8268 79.9904ZM91.0386 12.6872C91.0439 12.3835 91.1398 12.0882 91.3142 11.8387C91.4886 11.5891 91.7335 11.3964 92.0182 11.2851C92.3028 11.1738 92.6143 11.1487 92.9132 11.2132C93.2122 11.2776 93.4852 11.4286 93.6977 11.6471C93.9102 11.8655 94.0527 12.1417 94.1072 12.4406C94.1617 12.7395 94.1257 13.0477 94.0038 13.3263C93.8818 13.6048 93.6795 13.8413 93.4222 14.0056C93.165 14.17 92.8644 14.255 92.5585 14.2498C92.349 14.2557 92.1404 14.2196 91.9452 14.1436C91.7501 14.0675 91.5725 13.9531 91.423 13.8071C91.2735 13.6612 91.1553 13.4868 91.0754 13.2943C90.9955 13.1019 90.9556 12.8954 90.9581 12.6872H91.0386ZM52.2788 14.4628C52.0664 14.4748 51.8537 14.4431 51.6542 14.3697C51.4546 14.2964 51.2725 14.183 51.1191 14.0365C50.9657 13.8901 50.8444 13.7138 50.7628 13.5188C50.6812 13.3237 50.6409 13.1139 50.6446 12.9027C50.6483 12.6915 50.6959 12.4833 50.7843 12.2911C50.8727 12.099 51.0001 11.927 51.1585 11.7859C51.317 11.6449 51.503 11.5378 51.7049 11.4714C51.9069 11.405 52.1205 11.3807 52.3324 11.3999C52.5449 11.388 52.7575 11.4197 52.957 11.493C53.1566 11.5664 53.3387 11.6798 53.4921 11.8262C53.6455 11.9726 53.7668 12.1489 53.8484 12.344C53.93 12.5391 53.9703 12.7488 53.9666 12.9601C53.9629 13.1713 53.9153 13.3795 53.8269 13.5717C53.7385 13.7638 53.6111 13.9358 53.4527 14.0768C53.2943 14.2179 53.1082 14.325 52.9063 14.3914C52.7043 14.4578 52.4907 14.4821 52.2788 14.4628ZM21.87 32.2896C21.4988 32.2825 21.1379 32.1663 20.8332 31.9556C20.5285 31.7449 20.2935 31.4492 20.158 31.106C20.0225 30.7627 19.9925 30.3872 20.0719 30.027C20.1513 29.6669 20.3364 29.3381 20.604 29.0824C20.8715 28.8267 21.2094 28.6555 21.5749 28.5905C21.9404 28.5254 22.3171 28.5694 22.6574 28.717C22.9977 28.8645 23.2863 29.1089 23.4868 29.4193C23.6872 29.7297 23.7904 30.0921 23.7834 30.4608C23.7788 30.7056 23.7256 30.9471 23.6269 31.1716C23.5282 31.396 23.386 31.5989 23.2083 31.7688C23.0306 31.9386 22.821 32.072 22.5913 32.1614C22.3617 32.2507 22.1166 32.2943 21.87 32.2896ZM1.94025 66.5849C1.53155 66.5755 1.14319 66.4059 0.86005 66.1131C0.576905 65.8204 0.422003 65.4282 0.4292 65.0223C0.431511 64.8203 0.474186 64.6207 0.554753 64.4351C0.635321 64.2496 0.752179 64.0818 0.898552 63.9414C1.04493 63.801 1.2179 63.6909 1.40746 63.6173C1.59702 63.5438 1.79939 63.5084 2.00284 63.5131C2.41153 63.5224 2.79989 63.692 3.08304 63.9848C3.36618 64.2776 3.52108 64.6698 3.51389 65.0756C3.5104 65.2773 3.46692 65.4764 3.38594 65.6614C3.30496 65.8464 3.18807 66.0138 3.04194 66.1539C2.8958 66.2941 2.7233 66.4042 2.53427 66.4782C2.34524 66.5521 2.14339 66.5884 1.94025 66.5849ZM32.3401 80.5941C32.6937 80.5941 33.0395 80.6983 33.3336 80.8934C33.6276 81.0885 33.8568 81.3658 33.9922 81.6902C34.1275 82.0147 34.1629 82.3717 34.0939 82.7161C34.0249 83.0605 33.8546 83.3769 33.6045 83.6252C33.3545 83.8736 33.0358 84.0427 32.6889 84.1112C32.3421 84.1797 31.9825 84.1445 31.6557 84.0101C31.329 83.8757 31.0497 83.6482 30.8532 83.3562C30.6567 83.0642 30.5518 82.7209 30.5518 82.3697C30.5518 82.1343 30.5989 81.9012 30.6905 81.684C30.782 81.4668 30.9162 81.2699 31.0851 81.1047C31.254 80.9395 31.4543 80.8092 31.6743 80.7216C31.8944 80.6339 32.1298 80.5906 32.3669 80.5941H32.3401ZM24.3825 65.0756C24.3751 65.5234 24.2336 65.9588 23.9761 66.3264C23.7185 66.694 23.3566 66.9772 22.9363 67.1398C22.5161 67.3024 22.0567 67.3371 21.6165 67.2394C21.1764 67.1418 20.7755 66.9162 20.4649 66.5915C20.1543 66.2668 19.9482 65.8576 19.8727 65.4161C19.7972 64.9746 19.8559 64.5208 20.0411 64.1125C20.2264 63.7042 20.5298 63.3599 20.9129 63.1235C21.2959 62.8871 21.7412 62.7693 22.1919 62.7851C22.7864 62.806 23.3489 63.0576 23.7586 63.4859C24.1682 63.9142 24.3922 64.485 24.3825 65.0756ZM32.0271 49.9122C31.5777 49.9051 31.1404 49.7657 30.7708 49.5117C30.4012 49.2576 30.1158 48.9004 29.9508 48.4852C29.7858 48.07 29.7486 47.6156 29.8439 47.1794C29.9392 46.7432 30.1628 46.3449 30.4862 46.0349C30.8097 45.725 31.2185 45.5173 31.6609 45.4382C32.1033 45.3591 32.5594 45.4122 32.9714 45.5906C33.3834 45.7691 33.7328 46.065 33.9754 46.4408C34.218 46.8165 34.3427 47.2553 34.3339 47.7016C34.3293 47.9973 34.2659 48.2892 34.1473 48.5606C34.0287 48.8319 33.8574 49.0773 33.643 49.2827C33.4287 49.4881 33.1756 49.6494 32.8983 49.7575C32.621 49.8655 32.325 49.9181 32.0271 49.9122ZM92.7284 45.8461C93.0347 45.8515 93.3324 45.947 93.5839 46.1205C93.8354 46.2941 94.0294 46.5379 94.1412 46.821C94.253 47.1041 94.2777 47.4138 94.2121 47.7109C94.1464 48.0079 93.9935 48.2789 93.7725 48.4896C93.5516 48.7002 93.2727 48.841 92.9711 48.8941C92.6695 48.9471 92.3589 48.9101 92.0785 48.7877C91.7981 48.6653 91.5607 48.4629 91.3962 48.2064C91.2318 47.9498 91.1478 47.6505 91.1548 47.3465C91.1582 47.1429 91.2026 46.942 91.2853 46.7557C91.3681 46.5693 91.4876 46.4013 91.6367 46.2615C91.7858 46.1217 91.9616 46.013 92.1537 45.9416C92.3458 45.8703 92.5503 45.8378 92.7552 45.8461H92.7284ZM82.5981 27.5399C83.1131 27.554 83.6124 27.7191 84.0331 28.0143C84.4538 28.3095 84.7771 28.7217 84.9624 29.199C85.1477 29.6763 85.1866 30.1974 85.0742 30.6966C84.9619 31.1958 84.7033 31.6509 84.331 32.0045C83.9588 32.3581 83.4895 32.5944 82.9822 32.6838C82.475 32.7731 81.9524 32.7115 81.4804 32.5066C81.0084 32.3017 80.608 31.9627 80.3295 31.5323C80.0511 31.1019 79.9072 30.5993 79.9158 30.0879C79.9216 29.7451 79.9958 29.4069 80.134 29.0929C80.2723 28.7788 80.472 28.4951 80.7214 28.2581C80.9709 28.0211 81.2652 27.8356 81.5873 27.7124C81.9095 27.5891 82.253 27.5305 82.5981 27.5399ZM60.0576 30.0701C60.07 29.6251 60.2148 29.1937 60.4738 28.8303C60.7327 28.4669 61.0942 28.1877 61.5127 28.0279C61.9312 27.8682 62.3879 27.835 62.8254 27.9325C63.2629 28.0301 63.6614 28.254 63.9709 28.5761C64.2804 28.8982 64.487 29.3041 64.5645 29.7426C64.6421 30.181 64.5872 30.6325 64.4068 31.04C64.2264 31.4476 63.9285 31.793 63.5508 32.0328C63.173 32.2725 62.7322 32.3958 62.2839 32.3873C61.9845 32.3803 61.6893 32.3149 61.4154 32.1947C61.1414 32.0745 60.894 31.9019 60.6872 31.6867C60.4805 31.4715 60.3184 31.218 60.2104 30.9406C60.1024 30.6632 60.0504 30.3674 60.0576 30.0701ZM52.3861 49.85C51.9366 49.8429 51.4994 49.7035 51.1298 49.4495C50.7601 49.1955 50.4748 48.8383 50.3098 48.4231C50.1448 48.0079 50.1076 47.5534 50.2029 47.1172C50.2982 46.681 50.5217 46.2827 50.8452 45.9728C51.1686 45.6628 51.5774 45.4552 52.0198 45.3761C52.4622 45.297 52.9183 45.35 53.3304 45.5285C53.7424 45.707 54.0918 46.0028 54.3343 46.3786C54.5769 46.7544 54.7017 47.1932 54.6929 47.6394C54.6882 47.9352 54.6248 48.2271 54.5062 48.4984C54.3877 48.7698 54.2163 49.0152 54.002 49.2206C53.7876 49.426 53.5345 49.5873 53.2572 49.6953C52.9799 49.8033 52.6839 49.8559 52.3861 49.85ZM62.427 66.7802C62.0553 66.7748 61.6936 66.6601 61.3876 66.4504C61.0817 66.2408 60.8453 65.9457 60.7084 65.6025C60.5715 65.2594 60.5403 64.8836 60.6187 64.5228C60.6971 64.162 60.8816 63.8325 61.1488 63.5759C61.416 63.3193 61.7539 63.1472 62.1197 63.0815C62.4854 63.0157 62.8626 63.0593 63.2035 63.2066C63.5443 63.3539 63.8334 63.5983 64.0342 63.9089C64.235 64.2195 64.3385 64.5823 64.3314 64.9513C64.322 65.4442 64.1163 65.9134 63.7594 66.2561C63.4025 66.5989 62.9234 66.7873 62.427 66.7802ZM64.7785 64.6672C64.7224 64.1062 64.4631 63.5844 64.0486 63.199C63.6342 62.8136 63.0928 62.5908 62.5253 62.572C62.177 62.5699 61.8323 62.6426 61.515 62.7851L53.9329 49.8767C54.3167 49.6304 54.6323 49.2925 54.8508 48.894C55.0693 48.4954 55.1838 48.0489 55.1838 47.5951C55.1838 47.1413 55.0693 46.6947 54.8508 46.2962C54.6323 45.8976 54.3167 45.5598 53.9329 45.3134L61.2557 32.6092C61.585 32.7548 61.9413 32.8304 62.3018 32.8311C62.9775 32.8474 63.6352 32.6138 64.1473 32.1759C64.6594 31.7379 64.9895 31.1267 65.0735 30.4608L79.4956 30.4075C79.5637 31.1615 79.9099 31.8639 80.4676 32.38C81.0254 32.8961 81.7554 33.1895 82.5177 33.204C82.9967 33.2095 83.4707 33.1062 83.9035 32.9022L91.4856 45.8284C91.2557 46.011 91.0692 46.2418 90.9394 46.5042C90.8096 46.7666 90.7397 47.0542 90.7346 47.3465C90.7324 47.6533 90.8005 47.9566 90.9337 48.2334C91.0669 48.5103 91.2617 48.7534 91.5035 48.9445L83.5459 62.7496C83.285 62.6406 83.0062 62.5804 82.7233 62.572C82.1377 62.5497 81.565 62.7461 81.1181 63.1224C80.6712 63.4988 80.3826 64.0278 80.3092 64.6051L64.7785 64.6672ZM82.6071 66.7624C82.2376 66.7553 81.8785 66.6396 81.5752 66.4299C81.272 66.2202 81.0381 65.9259 80.9033 65.5842C80.7685 65.2426 80.7387 64.8689 80.8177 64.5105C80.8968 64.152 81.0811 63.8248 81.3473 63.5704C81.6136 63.3159 81.9499 63.1456 82.3137 63.0809C82.6774 63.0162 83.0524 63.06 83.391 63.2069C83.7297 63.3537 84.0169 63.597 84.2164 63.9059C84.4158 64.2148 84.5185 64.5756 84.5115 64.9424C84.4998 65.4307 84.2956 65.8949 83.9428 66.2352C83.59 66.5756 83.1168 66.7649 82.625 66.7624H82.6071ZM92.7016 83.5327C92.3957 83.5274 92.0983 83.4322 91.847 83.259C91.5956 83.0859 91.4016 82.8426 91.2895 82.56C91.1774 82.2774 91.1521 81.9681 91.217 81.6713C91.2819 81.3745 91.434 81.1034 91.654 80.8924C91.874 80.6814 92.1522 80.5398 92.4532 80.4858C92.7542 80.4317 93.0646 80.4674 93.3452 80.5885C93.6257 80.7095 93.8638 80.9105 94.0294 81.1659C94.1949 81.4213 94.2805 81.7198 94.2752 82.0235C94.2682 82.4277 94.1009 82.8129 93.8096 83.0954C93.5184 83.378 93.1267 83.5351 92.7195 83.5327H92.7016Z"
                    fill="#00A5E4"
                  />
                  <path
                    d="M75.473 44.6844V39.3223H69.9123V44.6844H64.3516V50.0466H69.9123V55.4087H75.473V50.0466H81.0338V44.6844H75.473Z"
                    fill="#00A5E4"
                  />
                </svg>
              )}

              <div class=" w-52 rounded relative z-10 border-8 bg-white border-brand-blue">
                {item.image && (
                  <Image
                    src={item.image.data.attributes.url}
                    inferSize
                    alt={item.title}
                    class=" w-full h-full object-cover"
                  />
                )}
              </div>
            </div>
            <div>
              {item.role && (
                <p class="mb-2 tagline text-brand-blue">{item.role}</p>
              )}
              <p class=" mb-5 font-display text-display-lg sm:text-display-xl font-bold">
                {item.name}
              </p>
              <p class=" mb-3 text-body-lg font-semibold">{item.title}</p>
              <BlocksRenderer content={item.bio} />
            </div>
          </div>
        ))
      }
    </div>
    <div class="absolute top-0 right-0 bg-brand-blue h-6 w-[250px]"></div>
    <div class="absolute bottom-0 right-0 bg-brand-yellow h-6 w-[250px]"></div>
  </Container>
</section>
