---
import Container from "../layouts/Container.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const { content } = Astro.props;

const bg = content.background;

const backgrounds = {
  gray: "bg-gray",
  white: "bg-white",
};

console.log(content.table.length);
---

<section class=` ${backgrounds[bg]}`>
  <Container classes=" py-24 relative">
    <div class="max-w-[800px] mx-auto text-center">
      {
        content.tagline && (
          <p class="mb-2 tagline text-brand-blue">{content.tagline}</p>
        )
      }
      <h2 class="mb-5">{content.title}</h2>
      {content.description && <BlocksRenderer content={content.description} />}
    </div>
    <!--Desktop and tablet table -->
    <div
      class="overflow-x-auto overflow-hidden outline outline-1 outline-brand-blue w-full mt-14 rounded-lg max-w-[940px] mx-auto"
    >
      <table class="w-[550px] sm:w-full">
        <tr>
          <th
            class={`w-1/4 border-r text-brand-blue   border-brand-blue border-b  bg-gray px-1 sm:px-4 font-semibold text-center py-3 sm:py-6`}
          >
          </th>
          <th
            class={`w-1/4 border-r text-brand-blue   border-brand-blue border-b  px-1 sm:px-4 bg-gray font-semibold text-center py-3 sm:py-6`}
          >
            {content.tableCol1Title}
          </th>
          <th
            class={`w-1/4 border-r text-brand-blue   border-brand-blue border-b   px-1 sm:px-4 bg-gray font-semibold text-center py-3 sm:py-6`}
          >
            {content.tableCol2Title}
          </th>
          <th
            class={`w-1/4 text-brand-blue  border-brand-blue border-b   px-1 sm:px-4 bg-gray font-semibold text-center py-3 sm:py-6`}
          >
            {content.tableCol3Title}
          </th>
        </tr>

        {
          content.table.map((row, index) => (
            <tr>
              <td
                class={`w-1/4 bg-gray border-r text-brand-blue  border-brand-blue px-1 sm:px-4 font-semibold text-center py-3 sm:py-6 ${
                  index === content.table.length - 1 ? "" : "border-b" // Remove border for the last row
                }`}
              >
                {row.title}
              </td>
              <td
                class={`w-1/4 border-r border-brand-blue   px-1 sm:px-4 font-semibold text-center py-3 sm:py-6 bg-white ${
                  index === content.table.length - 1 ? "" : "border-b" // Remove border for the last row
                }`}
              >
                {row.value1}
              </td>
              <td
                class={`w-1/4 border-r border-brand-blue  px-1 sm:px-4 font-semibold text-center py-3 sm:py-6 bg-white ${
                  index === content.table.length - 1 ? "" : "border-b" // Remove border for the last row
                }`}
              >
                {row.value2}
              </td>
              <td
                class={`w-1/4 border-brand-blue  px-1 sm:px-4 font-semibold text-center py-3 sm:py-6 bg-white ${
                  index === content.table.length - 1 ? "" : "border-b" // Remove border for the last row
                }`}
              >
                {row.value3}
              </td>
            </tr>
          ))
        }
      </table>
    </div>
    <!-- end of Desktop and tablet table -->

    <div class="bg-brand-blue w-[250px] h-6 absolute top-0 right-0"></div>
    <div class="bg-brand-yellow w-[250px] h-6 absolute bottom-0 right-0"></div>
  </Container>
</section>
