---
interface Props {
  metaTitle: string;
  metaDescription: string;
  metaImage: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PrefooterLogos from "../sections/PrefooterLogos.astro";

import "@fontsource/libre-baskerville/400.css";
import "@fontsource/libre-baskerville/700.css";
import "@fontsource/titillium-web/400.css";
import "@fontsource/titillium-web/600.css";
import "@fontsource/titillium-web/700.css";
import "@fontsource/titillium-web/900.css";

import "../styles/base.css";

const { metaDescription, metaTitle, metaImage } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:image" content={metaImage} />
    <meta property="twitter:image" content={metaImage} />
    <meta property="twitter:card" content={metaImage} />
    <title>{metaTitle}</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
  </head>
  <body>
    <main class="min-h-screen relative">
      <Header />

      <slot />
      <PrefooterLogos />
      <Footer />
    </main>
    <script src="https://cdn.userway.org/widget.js" data-account="O125mD4Im4"
    ></script>
  </body>
</html>
